body {
	font-family: Tahoma, Arial, Helvetica, Verdana, sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 12px!important;
	
	/* background: url("../images/grain.png") repeat scroll 0 0 transparent; */
	/*background: url("../images/bg-gradient-sky.png") repeat-x scroll 0 0px, url("../images/grain.png") repeat scroll 0 0px, none repeat scroll 0 0 #EEEEEE;*/
	line-height:21px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@page { size:8.5in 11in; margin: 2cm }

*
{
margin:0;
padding:0;
list-style:none;
}


img
{
border:0px;
}

a {
	color: #1a1aa6;
	text-decoration: none;

}
a:hover {
	color: #00006c;
	text-decoration: underline;
	
}

.text-right {
  text-align: right;
  margin: 0 0 0.5em 0;
}


ol.lower-roman-list {
  margin-bottom: 15px;
}
ol.lower-roman-list li{
  list-style: inside lower-roman;

}
.container-fluid {
  
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.container-fluid:after {
  clear: both;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.p-left-15 {
  padding-left: 15px;
}

p{ margin-bottom: 10px;}
h1
{
color:#114477;
font-weight:normal;
}

h2
{
color:#2460b9;
font-size:20px;
font-weight:normal;
margin:0 0 0.3em 0;
}

h3
{
color:#2460b9;
font-weight:normal;
}


	.PrintWrapper
	{
	margin: 0 auto;
	padding: 0px 0.3em 0 0.3em;
	*position:relative;
	width:8.5in;
	clear: both;
	background-color: #fff;
	
}



.PrintWrapperLandScape
{

	margin: 0 auto;
	padding: 0px 0.3em 0 0.3em;
	
	width:11in;
	clear: both;
	background-color: #fff;
}

.personalDetails, .landDetails, .taxDetails, .withnessInfo, .uploadedDocs, .officerDetails, .buyerSellerDocs, .gridDetails
{
clear:both;
display:block;
margin-bottom:0.5em;
border:1px solid #000;
padding:1em;
background:#fff;
overflow:hidden;
}
.personalDetails.no-border
{
clear:both;
display:block;
margin-bottom:0.5em;
border:none;
padding:1em;
background:#fff;
overflow:hidden;
}
.officerDetails
{
background:#FFF;
border:0px;
margin-bottom:2.5em;
}


.buyerDocs
{
float:left;
width:48.5%;
}


.sellerDocs
{
float:left;
width:48.5%;
margin-right:2%;
}

.buyerSellerDocs h2
{
font-size:14px;
font-weight:bold;
}

.type
{
margin:0 0 0.5em 0;
text-align:center;
}

.personalDetailsTableHolder
{
	overflow-x:auto;
	border-left:1px solid #c5dbec;
	border-right:1px solid #c5dbec;
}

.personalDetailsGrid,.taxDetailsGrid, .LandDetailsGrid, .uploadedDocsGrid, .withnessInfoGrid, .BSDocsGrid, .namsariGridSansodhan
{
width:100%;
border-right:1px solid #c5dbec;
border-bottom:1px solid #c5dbec;
background:#fff;
}

.personalDetailsGrid
{
	border-right:none;
}

.personalDetailsGrid td, .taxDetailsGrid td, .LandDetailsGrid td, .uploadedDocsGrid td, .withnessInfoGrid td, .BSDocsGrid td, .namsariGridSansodhan td
{
border:1px solid #c5dbec;
border-right:0px solid #c5dbec;
border-bottom:0px solid #c5dbec;
padding:0.4em;
}

.personalDetailsGrid th, .taxDetailsGrid th, .LandDetailsGrid th, .uploadedDocsGrid th, .withnessInfoGrid th, .BSDocsGrid th, .namsariGridSansodhan th
{
border:1px solid #c5dbec;
border-right:0px solid #c5dbec;
border-bottom:0px solid #c5dbec;
padding:0.4em;
background:#e7eff8 url('../images/gridHeader.gif') repeat-x left top; 

font-size: 14px;
color: #114477;
}

.personalDetailsGrid th
{
	border-right:1px solid #c5dbec;
	border-left:0px solid #c5dbec;
}

.namsariGridSansodhan td.colSerial
{
width:5%;
}

.namsariGridSansodhan td.col01
{
width:40%;
}

.namsariGridSansodhan td.col02
{
width:35%;
}



.uploadedDocs
{
clear:both;
display:block;

}



.tdTitles
{
width:250px;
color:#114477;
background:#FCFDFE;
font-weight:bold;
}

.tenantDetails , .landSplitDetails
{
width: 100%;
border-right: 1px solid #c5dbec;
border-bottom: 1px solid #c5dbec;

}













/* Button Holder */

.btnHolderPrint
{
position:absolute;
bottom:0px;
position:fixed;
background:#fff;
width:8.42in;

border: 1px solid #c5dbec;

padding:0.3em 0 0.2em 0.5em;
}

.btnHolderPrintLandscape
{
position:absolute;
bottom:0px;
position:fixed;
background:#fff;

border: 1px solid #c5dbec;

padding:0.3em 0 0.2em 0.5em;
width:11in;
}










	/* Input Button */
	
	.button, .button:link, .button:visited {
	display: inline-block;
	-moz-border-radius: .25em;
	border-radius: .25em;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
	
	background-color: #2460b9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#43a6e2),to(#235eb6));
	background-image: -moz-linear-gradient(#43a6e2,#235eb6);
	background-image: -ms-linear-gradient(#43a6e2,#235eb6);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#43a6e2),color-stop(100%,#235eb6));
	background-image: -webkit-linear-gradient(#43a6e2,#235eb6);
	background-image: -o-linear-gradient(#43a6e2,#235eb6);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#235eb6', GradientType=0)";
	background-image: linear-gradient(#43a6e2,#235eb6);

	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 0.4em 1em;
	line-height: 1.1;
	text-decoration: none;
	min-width: 80px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-webkit-transition: all linear .25s;
	-moz-transition: all linear .25s;
	-o-transition: all linear .25s;
	-ms-transition: all linear .25s;
	transition: all linear .25s;
	}

	.button, .button-white {
	cursor: pointer;
	}

	.button:hover, .button:link:hover, .button:visited:hover, .button.hover, .button.hover:link, .button.hover:visited, .button:focus, .button:link:focus, .button:visited:focus, .button.focus, .button.focus:link, .button.focus:visited {
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 2px #1f529e inset;
		color: #FFFFFF;
		text-decoration: none;
		transition: all 0.25s linear 0s;
	}



	.button:active, .button:link:active, .button:visited:active, .button.active, .button.active:link, .button.active:visited {
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 6px rgba(0, 0, 0, 0.2) inset, 0 0 2px 2px rgba(0, 0, 0, 0.2) inset;
		color: #FFFFFF;
		text-decoration: none;
		transition: all 0.25s linear 0s;
	}

	
	
	
	
	
	
	
	
	
	.ThumbPreview,.photographPreview{
  background: rgba(255,255,255,0.8);
   margin: 0px;
  vertical-align: top;
  border: 1px solid #c4daeb;
  padding: 6px 6px 6px 6px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
	text-align:center;
	width:50px;
	height:65px;
}

.ThumbPreview img,.photographPreview img
{
width:50px;
height:65px;
}
	
.witnessSignature img
{
width:200px;
height:30px;
}

	
	
.SDOfficer
{
float:left;
width:32%;
margin-right:2%;
}

.CLROOfficer
{
float:left;
width:32%;
}

.SDOfficer h3, .CLROOfficer h3
{
margin-bottom:5px;
}

.Oname, .ODesignation, .ODate
{
margin-bottom:5px;
}

	
	.receiptNo
	{
	clear:both;
	
	}
	
	.receiptNoDetails
	{
	font-weight:bold;
	
	}
	
	
	
	
	
	.grandTotal
{
font-weight:bold;
text-align:right;
}

	
	
	
	
	
	
	/* Amendments Print template */
	
	.amendTitleH1
	{
	color:#114477;
	font-size:24px;
	clear:both;
	margin:0.5em 0 0.5em 0;
	text-align:center;

	}
	
	.amendHeader
	{

	 clear:both;
	 display:block;
	 overflow:hidden;
	}
	
	
	.amendheaderLeft
	{
	float:left;
	}
	
	.amendheaderRight
	{
	float:right;
	}
	

	.amendHeading
	{
	font-size:20px;
	}
	
	

	
	
	
	.subjectAmend
	{
	 clear:both;
	 display:block;
	 text-align:center;
	 font-size:16px;
	 
	}
	
	
	
	.ticket10
	{
	display:block;
	width:95px;
	padding-top: 3em;
	padding-bottom: 3em;
	border:1px solid #000;
	text-align:center;
	}
	
	.amendBody
	{
	clear:both;
	font-size:13px;
	}
	
	.letterBody
	{
	margin: 0.5em 0 0.5em 0;
	}
	
	
	.tapsil,.proofalognAmendments,.confrmation
	{
	clear: both;
	display: block;
	border: 1px solid #c5dbec;
	padding: 0.5em;
	background: #FCFDFE;
	overflow: hidden;
	margin-bottom:0.5em;
}
	
	

	
	.hedingInfo
	{
	text-align:left;
	font-size:18px;
	margin:0 0 0.5em 0;
	}
	
	.tapsilInfo
	{
	 clear:both;
	 display:block;
	 overflow:hidden;
	
	}
	
	.floatLefttapsil
	{
	float:left;
	width:55%;
	margin-right:1%;
	border:1px solid green;
	}
	
	.floatRightTapsil
	{
	float:right;
	width:42%;
	}
	
	
	.titleP
	{
	clear:both;
	display:block;
	font-size:14px;
	font-weight:bold;
	margin-bottom:0.8em
	}
	
	.beforeamend
	{
	width:55%;
	}
	
	
	.amendbeforeAfterTable
	{

	width: 100%;
border-right: 1px solid #c5dbec;
border-bottom: 1px solid #c5dbec;
background: #fff;
margin-bottom: 10px;
	}
	
	.amendbeforeAfterTable th
	{
	text-align:left;
	
	
	
	border: 1px solid #c5dbec;
border-right: 0px solid #c5dbec;
border-bottom: 0px solid #c5dbec;
padding: 0.1em;
background: #e7eff8 url('../images/gridHeader.gif') repeat-x left top; 
font-size: 12px;
color: #114477;
}
	
	
	
	
	
	.amendbeforeAfterTable td
	{
	
	border-bottom:1px dotted #000;
	
	border: 1px solid #c5dbec;
	border-right: 0px solid #c5dbec;
	border-bottom: 0px solid #c5dbec;
	padding: 0.1em;
	font-size:10px;
	
	}
	
	.afteramend
	{	
	width:43%;
	}
	
	td.serialNo
	{
	padding-right:1em;
	}
	.valbeforeamend
	{
	width:53%;
	padding-right:0.5em;
	}
	
	td.valafteramend
	{
	font-weight:bold;
	}
	
	
	.confrmation
	{
	clear:both;
	display:block;
	}
	
	p.confirmationText
	{
	clear:both;
	display:block;
	font-size:18px;
	margin:0em 0 0.5em 0;
	text-decoration:underline;
	}
	.gridamendDocs td
	{
	padding:0 0 0.3em 0;
	}
	.gridamendDocs td.sno
	{
	padding-right:1em;
	}
	
	
	.amendApplicantDetails
	{
width: 100%;

border: 1px solid #c5dbec;
	border-bottom: 0px;
background: #fff;
}
	

	.amendApplicantDetails td
	{
	padding:0.2em 0 0.3em 0.2em;
	border-bottom: 1px solid #c5dbec;
	}
	
	.amendApplicantDetails td.tdLbl
	{
	width:46%;
	padding-right:3%;
	
		}
		
		.amendApplicantDetails td.tdVal
		{
		font-weight:bold;
		}
		
		
		.datemonthYear
		{
		clear:both;
		display:block;
		margin:1em 0 1em 0;
		}
		.DMYTable
		{
		width:100%;
		}
		
		.officerDetailsAmendments
		{
		margin:1em 0 1em 0;
		
		}
		.officerName
		{
		margin:1em 0 0 0;
		}
		
		
		
		
		
		
		
		
		
		/* LOC */
		.LOCHeader
		{
		overflow:hidden;
		margin:0.5em 0 0 0;
		
		}
		
		
		.headerLogo
		{
		position:absolute;
		*left:0px;
		}
		
		.headerLogo img
		{
		padding:0.2em 0 0 0;
		}
		
		.logoTxt
			{
			display:block;
			overflow: hidden;
			text-align: center;
			margin:0 auto;
			}
		
		.logoTxt h3
		{
		color: red;
		font-size: 21px;
		}
		
		.logoTxt h4
		{
		color: blue;
		font-size: 17px;
		margin-bottom: 0.2em;
		}
		
		
		h2.officeDetails
		{
		clear:both;
		display:block;
		color:#000;
		text-align:center;
		margin:0.5em 0 0em 0;
		font-size:20px;
		}
		
		
		
		
		
		
		
		
		
		.headerTopRight
		{
		position:absolute;
		right:0px;
		margin:0.5em 1.3em 0 0;
		
		}
		
		
		
		.headerTopRight h4
		{
		padding:0 0 0.5em 0;
		}
		
		.headerTopRight h4 span
		{
		display:inline-block;
		width:120px;

		text-align:right;
		padding:0 0.3em 0 0;
		}
		.headerTopRight h4 span.text-left { text-align: left;}
		
		.LOCcontentHeader
		{
		
		overflow:hidden;
		
			clear: both;
	display: block;
	border: 1px solid #c5dbec;
	padding: 0.5em;
	background: #FCFDFE;
	overflow: hidden;
	margin-bottom:0.5em;
		}
		
		.footerDetails
		{
		margin-bottom:3.5em;
		}
	
	
	
	/* Land Ownership Certificate */
	.LOCcontentHeader
	{
	display:block;
	clear:both;
	overflow:hidden;
	margin:0em 0 0 0;
	}
	
	
	.photoThumbImpression
	
	{
	width:40%;
	margin-right:2%;
	overflow:hidden;
	float:left;
	}
	
	.photoGraph
	{
	float:left;
	padding:0 0.3em 0 0.3em;
	text-align:center;
	margin-right: 1em;
	}
	
	.photoGraph img
	{
	width:1.3in;
	height:1.7in;
	}
	
	.photoGraph span
	{
	display:block;
	text-align:center;
	margin-top:2em;
	}
	
	.thumbBox
	{
	float:left;

	margin-left:1em;
	overflow:hidden;
	}
	.thumbImpression
	{
		border:1px solid #000;
		overflow:hidden;
	}
	
	.thumbBox img
	{
	width:1in;
	height:1.3in;
	}
	
	.thumbBox span
	{
	display:block;
	}
	
	.ownerSignatureLOC
	{
	text-align:center;
	margin-top:1.45em;
	}
	
	.ownerSignature
	{
	margin:0.5em 0 0 19em;
	clear:both;
	display:block;
	}
	
	.titleThumb
	{
	margin:0 0 0 0;
	text-align:center;
	border-bottom:1px solid #000;
	padding:0.3em 0 0.3em 0;
	}
	

	
	.leftThumb, .rightThumb
	{
	float:left;
	padding:0 0.3em 0 0.3em;
	}
	
	.leftThumb span, .rightThumb span
	{
	display:block;
	padding:0.3em 0;
	text-align:center;
	}
	
	.leftThumb
	{
	border-right:1px solid #000;
	}
	
	.ownerInfo
	{
	float:left;
	width:57%;
	}
	.ownerdetailsGrid
	{
	width:100%;

	border-bottom:0px solid #ccc;
	}
	
	
	.ownerdetailsGrid td
	{
	padding:0.5em 0.3em 0.5em 0.3em;

	}
	
	.ownerdetailsGrid td.lblOD
	{
	width:180px;
	}
	
	.ownerdetailsGrid td.valueOD
	{
	font-weight:bold;
	}
	
	.ownerdetailsGrid td.valueOD .ownerID, .ownerdetailsGrid td.valueOD .date
	{
	float:left;
	width:48%;

	}
	
	.valdist, .valVDC, .valWard
	{
	float:left;
	width:32%;
	margin-right:1%;
	}
	
	
	.valdist span, .valVDC span, .valWard span
	{
	display:block;
	}
	
	.footerDetailsLOC
	{
	clear:both;
	display:block;
	overflow:hidden;
	margin:0 0 3em 0;
	}
	
	.LocSign, .locDate, .locSign1
	{
	margin: 1.5em 0 1em 0;
	float:left;
	width:33%;
	}
	
	.LOCpropertyDetails
	{
	clear:both;
	display:block;
	overflow:hidden;
	margin:1em 0 0 0;
	}
	
	.propDetailsGrid
	{

	width: 100%;
border-right: 1px solid #c5dbec;
border-bottom: 1px solid #c5dbec;
background: #fff;
	}
	
	.propDetailsGrid th
	{
	text-align:center;
	
	
	
	border: 1px solid #c5dbec;
border-right: 0px solid #c5dbec;
border-bottom: 0px solid #c5dbec;
padding: 0.4em;
background: #e7eff8 url('../images/gridHeader.gif') repeat-x left top; 
font-size: 14px;
color: #114477;
}
	
	
	
	
	
	.propDetailsGrid td
	{
	
	border-bottom:1px dotted #000;
	
	border: 1px solid #c5dbec;
	border-right: 0px solid #c5dbec;
	border-bottom: 0px solid #c5dbec;
	padding: 0.3em;
	}
	
	
	

	
	
	
	.printHeader
	{
	overflow:hidden;
	position:relative;
	}
	
	
		.printHeader .logoTxt
			{
			display:block;
			width: 100%;
	
			overflow: hidden;
			margin: 0;
			text-align: center;
			}
		
		.printHeader .logoTxt h3
		{
		color:red;
		font-size:21px;
		}
		
		.printHeader .logoTxt h4
		{
		color:blue;
		font-size:17px;
		
		margin-bottom:0.2em;
		}
	
	
	
	/* Naamsaari */
	
	
	.paraGraph
	{
	clear:both;
	display:block;
	}
	
	.paraGraph .subject
	{
	font-weight:bold;
	text-align:center;
	margin:0.5em 0 0.5em 0;
	}
	
	
	.paraGraph .matter
	{
	margin:0.5em 0 0.5em 0;
	}
	
	
	.gridDetails h2
	{
text-align:center;
	}
	
	.newLine
	{
	margin:0.5em 0 0.5em 0;
	}
	
	.floatList
	{
	float:left;

	width:46%;
	padding:0 0 0 2em;

	}
	
	
	.floatList li
		{
		list-style-type:decimal;
		padding:0.5em;
		}
		
		
		.blockList
	{

	padding:0 0 0 2em;

	}
	
	
	.blockList li
		{
		list-style-type:decimal;
		padding:0.5em;
		}
		
		.ownerDetailsFooter
		{
		float:right;
		width:47%;
		}
		
		.ownerDetailsFooter .ownerdetailsGrid td.lblOD
	{
	width:110px;
	}
	
		
		.footerDates
		{
		clear:both;
		display:block;
		}
		
		.footerNaamsaari
		{
		clear:both;
		overflow:hidden;
		display:block;

		}
		
		.footerDates
		{
		margin-bottom:3em;
		overflow:hidden;
		padding: 0.7em 0 0.3em 0;
		}
		
		
		.footerDates .colflolat
		{
		float:left;
		
		width:16%;
		}
		
		
		.namsariNote
		{
		float:left;

		margin:0.5em 0 0 0;
		}
		
		
		
		
		
		
		
		
		
		
		.headerTopRight01
		{
		float:right;
		margin:0.5em 1.3em 0 0;
		position:absolute;
		right:0px;
		}
		
		.headerTopRight01 h4
		{
		padding:0 0 0.5em 0;
		}
		
		.headerTopRight01 h4 span
		{
		display:inline-block;
		width:110px;

		text-align:right;
		padding:0 0.3em 0 0;
		}
		
		
		
		
		.dateRight
		{
		font-size:12px;
		display:inline;
		float:right;
		padding:0 0.54em 0 0;
		}
		
		.floatLeft01
		{
		float:left;
		}
		
		.floatRight01
		{
		float:right;
		}
		
		.matterline02
		{
		clear:both;
		display:block;
		margin:0 0 1em 0;
		}
		.name01
		{
		display:inline-block;
		width:550px;
		border-bottom:1px dotted #000;
		}
		.amount
		{
		display:inline-block;
		width:150px;
		border-bottom:1px dotted #000;
		}
		
		.valueinWords
		{
		display:inline-block;
		width:600px;
		border-bottom:1px dotted #000;
		}
		
		th.col01A
		{
		width:100px;
		}
		
		.txtCenter
		{
			text-align:center;
		}
		
		.headerbottomTxt
		{
			position:absolute;
			top:134px;
		}
			
		.headerbottomTxt h4
		{
			font-size:11px;
		}
		.rokkaHeader
		{

			overflow:hidden;
			margin-top:2em;			
		}
		
		.rokkaHeader h4
		{
			font-size:14px;
			text-align:center;
			text-decoration:underline;
		}
		
		.RHLeft
		{
			float:left;
		}
		.RHRight
		{
			float:right;
			width:48%;			
		}		
		
		.gridRokka
		{
			width:100%;
			margin-top:1em;
		}		
		
		.gridRokka td
		{
			padding:0.5em 0 0.5em 0.5em;
		}
		
		.gridRokka td.RHLbl
		{
			font-weight:bold;
			width:100px;
		}
		
		
		.margintopRC
{
	margin-top:20em;
}


.spacertopRK
{
	margin-top:2em;
}
	
		
		
.setOverflow{
	
	overflow-y:scroll;
	height:150px;
	
}
		
		
	@media print 
{

@page { margin: 1cm }

 /*
* { margin: 0 !important;}
  */
  
  html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 

    background: #FFF; 
    font-size: 9.5pt;
  }



    .btnHolderPrint, .btnHolderPrintLandscape
    {
        display:none;
    }
	
	
	
	
	
	
		.PrintWrapper
	{
	width: 99%; 
	
	
}
.propDetailslocownerGrid
{
border-right: 1px solid #c5dbec;
border-bottom: 1px solid #c5dbec;
background: #fff;
}


.personalDetails {page-break-after: always;}


}
