@charset "utf-8";
/* CSS Document */

.value_three {
    padding:2px 0px 2px 2px; height:17px;width:100%;
}

.shiftinput_thematic{
	padding:2px 0px 2px 2px; height:17px;
}
.shiftinput_thematic_one{
	 padding:2px 0px 2px 2px; height:17px;
}
.shiftinput_thematic_symbol{
	padding:2px 0px 2px 2px; height:17px;
}
.shiftinput_thematic_outline{
	padding:2px 0px 2px 2px; height:20px;
}
.value_one_linecap{
	padding:2px 0px 2px 2px; height:25px;font-family:OpenSansLight;width:100%;
}
.value_one{
	padding:2px 0px 2px 2px; height:18px;font-family:OpenSansLight; width:100%;
}
.slt{
	font-family:OpenSansLight;
}
.lab-int DL DD{
	padding-bottom:3px;
}
.btn-holder-w{
	padding-top:5px;
}
.fill_opacity_css{
	font-family:OpenSansLight;
}
.value_thematic{
	padding:2px 0px 2px 2px; height:25px;font-family:OpenSansLight; font-size:14px; width:135px;
}
/*.layer-td input {
	border: 0px solid #eeeeee;
    font-family: inherit;
}*/
.value_pointmp{
	padding:2px 0px 2px 2px; height:25px;font-family:OpenSansLight; width:100%;
}
.layer_legent_check{
	/*margin-top:-30px;*/
}
.head_layerm{
	width:98%;
}
.dynaltable{
	background-color:#F5F5F5; margin:5px 0px 5px 0px;line-height:30px;
}
.cellcolor_dynalayer{
	margin: 15px 5px 5px 5px;;
}
.lab-int{
	width: 95%;
}
.dynaltable{
	height:40px;
}
.query_ok_btn{
	width:80px;
}
/*------------------------*/
.cellalignleft { width:48%;}
.cellalignright{ width:48%;}
.value_one_linemp{
	padding:2px 0px 2px 2px; height:23px;font-family:OpenSansLight; width:100%;
}
/*------------------------*/
.search-options-b{
	/*border:1px solid #000;*/
	/*display:inline;*/
	/*height:30px;*/
}
.select_fix_width{
	width:314px;
}
.subhead_grey_bg{
	background-color:#F5F5F5; font-weight:bold; padding:2px;
}
.select_fix_width_one{
	width:105px;
}
