@charset "utf-8";
*,*:before, *:after
{
	box-sizing: border-box;
	mz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
html
{

	
}
body
{
	background: url(../../images/viewer/dashboard/background_image.png) repeat-x;
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	margin: 0;
	padding-bottom: 0;
	
}
.cloudBx-container
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
.header
{
	background-image: url(../../images/viewer/dashboard/header_bkg.jpg);
	background-repeat: no-repeat;
	margin: 0;
	min-height: 95px;
	padding: 0;
	width: 100%;
}
.subHead
{
	color: #FFF;
	float: left;
	font-size: 24px;
	margin-left: 20px;
}
.loginInfo
{
	float: right;
	margin: 0;
	position: relative;
	top: -1px;
}
.userText
{
	font-size: 90%;
	margin-left: 38px;
	position: absolute;
	top: 1px;
}
.logoutApp
{
	margin-left: 15px;
	color:#7eaada;
	font-size:12px;
}
.pageContent
{
	margin: 0;
	padding: 80px 20px 74px;
	position: relative;
}
.toolBoxes
{
	height: 100%;
	width: 100%;
}
.infoBox
{
	background-color: #f4f9f9;
	border: 1px solid #e0e7ea;
	box-shadow: 5px 5px 5px #d5e9f5;
	height: 293px;
	position: relative;
	background: -moz-linear-gradient(90deg, #f0f6f6 0%, #ffffff 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #f0f6f6), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #f0f6f6 0%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #f0f6f6 0%, #ffffff 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #f0f6f6 0%, #ffffff 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f6f6', endColorstr='#ffffff', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #f0f6f6 0%, #ffffff 100%);/* W3C */
}
.PanelBottom
{
	background-color: #fff;
	bottom: 0;
	border-top:1px solid #ddd; 
	min-height: 50px;
	position: absolute;
	width: 100%;
}
.BtmText
{
	color: #c2113a;
	font-size: 18px;
	padding-top: 10px;
	text-align: center;
}
.ico-ft
{
	font-size: 80% !important;
}
.launch-text
{
	color: #c2113a;
	text-decoration: none;
}

.launch-text:hover
{
text-decoration:underline;
}

.toolsHd
{
	padding-top: 20px;
	text-align: center;
}
.toolsDec
{
	color: #000;
	font-size: 12px;
	padding: 0 20px 20px 20px;
}
h2
{
	border-bottom: 1px solid #e0e7ea;
	color: #0b5bcd;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 5px;
}

footer
{
	/*border-top: 1px solid #ffffff;*/
	background-image:url(../../images/viewer/dashboard/footer_img.png);
	height: 54px;
	width: 100%;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
.footerText{
	color:#007ec8;
	float:left;
	width:30%;
	margin:13px 0 0 15px;
}
.subtxt{
	color:#c72f54;
	font-size:12px;
	float:right;
	width:62%;
	font-weight:bold;
}
.logoTX{
	position:relative;
	top:8px;
	margin-right: 5px;
}
.row
{
	margin-left: -20px;
	zoom: 1;
}
.row:before,.row:after
{
	content: "";
	display: table;
	line-height: 0;
}
.row:after
{
	clear: both;
}
[class*="span"]
{
	float: left;
	margin-left: 20px;
	min-height: 1px;
}
.Bx-container,
.navbar-static-top 
.Bx-container,
.navbar-fixed-top 
.Bx-container,
.navbar-fixed-bottom 
.Bx-container
{
	width: 940px;
}
.span12
{
	width: 940px;
}
.span11
{
	width: 860px;
}
.span10
{
	width: 780px;
}
.span9
{
	width: 700px;
}
.span8
{
	width: 620px;
}
.span7
{
	width: 540px;
}
.span6
{
	width: 460px;
}
.span5
{
	width: 380px;
}
.span4
{
	width: 300px;
}
.span3
{
	width: 220px;
}
.span2
{
	width: 140px;
}
.span1
{
	width: 60px;
}
.offset12
{
	margin-left: 980px;
}
.offset11
{
	margin-left: 900px;
}
.offset10
{
	margin-left: 820px;
}
.offset9
{
	margin-left: 740px;
}
.offset8
{
	margin-left: 660px;
}
.offset7
{
	margin-left: 580px;
}
.offset6
{
	margin-left: 500px;
}
.offset5
{
	margin-left: 420px;
}
.offset4
{
	margin-left: 340px;
}
.offset3
{
	margin-left: 260px;
}
.offset2
{
	margin-left: 180px;
}
.offset1
{
	margin-left: 100px;
}
.row-fluid
{
	width: 100%;
	zoom: 1;
}
.row-fluid:before,.row-fluid:after
{
	content: "";
	display: table;
	line-height: 0;
}
.row-fluid:after
{
	clear: both;
}
.row-fluid [class*="span"]
{
	box-sizing: border-box;
	display: block;
	float: left;
	margin-left: 2.074468085106383%;
	margin-left: 2.127659574468085%;
	min-height: 30px;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	width: 100%;
}
.row-fluid [class*="span"]:first-child
{
	margin-left: 0;
}
.row-fluid .controls-row [class*="span"]+[class*="span"]
{
	margin-left: 2.127659574468085%;
}
.row-fluid .span12
{
	width: 100%;
	width: 99.94680851063829%;
}
.row-fluid .span11
{
	width: 91.43617021276594%;
	width: 91.48936170212765%;
}
.row-fluid .span10
{
	width: 82.92553191489361%;
	width: 82.97872340425532%;
}
.row-fluid .span9
{
	width: 74.41489361702126%;
	width: 74.46808510638297%;
}
.row-fluid .span8
{
	width: 65.90425531914893%;
	width: 65.95744680851064%;
}
.row-fluid .span7
{
	width: 57.39361702127659%;
	width: 57.44680851063829%;
}
.row-fluid .span6
{
	width: 48.88297872340425%;
	width: 48.93617021276595%;
}
.row-fluid .span5
{
	width: 40.37234042553192%;
	width: 40.42553191489362%;
}
.row-fluid .span4
{
	width: 31.861702127659576%;
	width: 31.914893617021278%;
}
.row-fluid .span3
{
	width: 23.351063829787233%;
	width: 23.404255319148934%;
}
.row-fluid .span2
{
	width: 14.840425531914894%;
	width: 14.893617021276595%;
}
.row-fluid .span1
{
	width: 6.329787234042553%;
	width: 6.382978723404255%;
}
.row-fluid .offset12
{
	margin-left: 104.14893617021275%;
	margin-left: 104.25531914893617%;
}
.row-fluid .offset12:first-child
{
	margin-left: 102.02127659574467%;
	margin-left: 102.12765957446808%;
}
.row-fluid .offset11
{
	margin-left: 95.6382978723404%;
	margin-left: 95.74468085106382%;
}
.row-fluid .offset11:first-child
{
	margin-left: 93.51063829787232%;
	margin-left: 93.61702127659574%;
}
.row-fluid .offset10
{
	margin-left: 87.12765957446807%;
	margin-left: 87.23404255319149%;
}
.row-fluid .offset10:first-child
{
	margin-left: 84.99999999999999%;
	margin-left: 85.1063829787234%;
}
.row-fluid .offset9
{
	margin-left: 78.61702127659572%;
	margin-left: 78.72340425531914%;
}
.row-fluid .offset9:first-child
{
	margin-left: 76.48936170212764%;
	margin-left: 76.59574468085106%;
}
.row-fluid .offset8
{
	margin-left: 70.10638297872339%;
	margin-left: 70.2127659574468%;
}
.row-fluid .offset8:first-child
{
	margin-left: 67.9787234042553%;
	margin-left: 68.08510638297872%;
}
.row-fluid .offset7
{
	margin-left: 61.59574468085106%;
	margin-left: 61.70212765957446%;
}
.row-fluid .offset7:first-child
{
	margin-left: 59.46808510638297%;
	margin-left: 59.574468085106375%;
}
.row-fluid .offset6
{
	margin-left: 53.085106382978715%;
	margin-left: 53.191489361702125%;
}
.row-fluid .offset6:first-child
{
	margin-left: 50.95744680851063%;
	margin-left: 51.063829787234035%;
}
.row-fluid .offset5
{
	margin-left: 44.57446808510638%;
	margin-left: 44.68085106382979%;
}
.row-fluid .offset5:first-child
{
	margin-left: 42.4468085106383%;
	margin-left: 42.5531914893617%;
}
.row-fluid .offset4
{
	margin-left: 36.06382978723405%;
	margin-left: 36.170212765957444%;
}
.row-fluid .offset4:first-child
{
	margin-left: 33.93617021276596%;
	margin-left: 34.04255319148936%;
}
.row-fluid .offset3
{
	margin-left: 27.5531914893617%;
	margin-left: 27.659574468085104%;
}
.row-fluid .offset3:first-child
{
	margin-left: 25.425531914893618%;
	margin-left: 25.53191489361702%;
}
.row-fluid .offset2
{
	margin-left: 19.04255319148936%;
	margin-left: 19.148936170212764%;
}
.row-fluid .offset2:first-child
{
	margin-left: 16.914893617021278%;
	margin-left: 17.02127659574468%;
}
.row-fluid .offset1
{
	margin-left: 10.53191489361702%;
	margin-left: 10.638297872340425%;
}
.row-fluid .offset1:first-child
{
	margin-left: 8.404255319148938%;
	margin-left: 8.51063829787234%;
}
[class*="span"].hide,.row-fluid [class*="span"].hide
{
	display: none;
}
[class*="span"].pull-right,.row-fluid [class*="span"].pull-right
{
	float: right;
}
.Bx-container
{
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
}
.Bx-container:before,.Bx-container:after
{
	content: "";
	display: table;
	line-height: 0;
}
.Bx-container:after
{
	clear: both;
}
.Bx-container-fluid
{
	padding-left: 20px;
	padding-right: 20px;
	zoom: 1;
}
.Bx-container-fluid:before,.Bx-container-fluid:after
{
	content: "";
	display: table;
	line-height: 0;
}
.Bx-container-fluid:after
{
	clear: both;
}
.space-10{
	padding-bottom:20px
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #efefef;
    color: #333333;
	text-align:center;
	min-width: 130px;
	font-size:12px;
	border-bottom: 1px solid #ddd;
}

/** List Item Hover Styles **/
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}





.actions-btn {}
.actions-btn a{
  width: 16px;
  height: 16px;
  margin-right: 10px;
 
  float: left;
  background: #f00;
  background:url(.\resources\images\img-Login.png) no-repeat;


}
.actions-btn a:hover{
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.actions-btn a.id-checked {
  background-position: 0 0;
}
.actions-btn a.correct {
  background-position: -26px 0px;
}
.actions-btn a.cross {
  background-position: -52px 0px;
}
.actions-btn a.ea {
  background-position: -75px 0px;
}
.actions-btn a.es {
  background-position: -101px 0px;
}
.actions-btn a.map-viewer {
  background-position: -127px 0px;
}
.actions-btn a.reviewed {
  background-position: -153px 0px;
}
.project-details {
  margin-bottom: 20px;
}
.project-details-label {}
.deatails-label {
	width: 45%;
	float:left;
	margin-right: 5%;
}
.deatails-label-value {
  color: #268217;
  float: left;
  width: 50%;
  font-weight:700;
}
.gray-panel {
  border: 1px solid #ddd;
  background:url(../../images/viewer/dashboard/gray-panel-bg.png) #f7f7f7;
  min-height: 55px;
  margin-bottom: 20px;
}

.btn-regular {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background: -moz-linear-gradient(90deg, #0c7cf3 0%, #3aa8fe 100%);
background: -webkit-gradient(linear, 90deg, color-stop(0%, #0c7cf3), color-stop(100%, #3aa8fe));
background: -webkit-linear-gradient(90deg, #0c7cf3 0%, #3aa8fe 100%);
background: -o-linear-gradient(90deg, #0c7cf3 0%, #3aa8fe 100%);
background: -ms-linear-gradient(90deg, #0c7cf3 0%, #3aa8fe 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c7cf3', endColorstr='#3aa8fe', GradientType='0');
background: linear-gradient(0deg, #0c7cf3 0%, #3aa8fe 100%);
border: 1px solid #0166e8;
}
.btn-regular:hover, .btn-regular:active, .btn-regular.active, .btn-regular.disabled, .btn-regular[disabled] {
	color: #ffffff;
	background: #118ade;
text-decoration: none!important;
*background-color:#118ade;
}
.btn-regular:active, .btn-regular.active {
	background-color:#118ade \9;
}
.regular-vspace {
  margin-bottom: 20px;
  width: 100%;
  float: left;
}
