 <script>
 
$(function() {
genAttrDialog = $( "#attr-dialog-form" ).dialog({
autoOpen: false,
height: 400,
width: 300,
resizable: false,
modal: true,

buttons: {
"Add": function() 
{
	saveprojectAttr();
	genAttrDialog.dialog( "close" );
},
"Cancel": function() 
{
	genAttrDialog.dialog( "close" );
}
},
close: function() {

}
});

});
 </script>
 
<div id="projectAttrFormDiv" style="visibility: hidden">
<!-- <style type="text/css">
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
</style> -->


<form class="cmxform" id="projectAttrForm1" action="" onsubmit="return false;">




	<table id="projectAttrTable"  class="tablesorter" cellpadding="0" cellspacing="0">
	<thead>
        
        <tr>
            <td colspan="5" class="project_cellpadtwo">
			
			<table width="100%" cellpadding="0" cellspacing="0" class="project_table_adjust">
                	
					<tr>
                    	<td class="project_cell_adjust styleForm">
						<label class="searchLbl">Project:</label>&nbsp;
						
						<select name="projectAttr_project" id="projectAttr_project" value="${name}" onchange= "fillAccordians(this.value);">
						<option  value="" class="text ui-widget-content ui-corner-all">Please Select</option>   									  							
                               							
						</select>
						
					</td>
                       </tr>   
                </table>
			
			
            </td>
        </tr>
        

    </thead>
    <tbody>
		<tr>
			<td>
			
		<div id="projectAttr-accordion" style="text-align: left;">
		<h3>
			<a href="#"><span id="general">General</span></a>
		</h3>

		<div id="generalBody" title=""
			style="min-height: 191px; overflow: hidden;">
			
			<div class="headerBtns">
			<a href="#" id="general_addRemove" onclick="openAttrDialog('general');" class="btn02 btnprojectattr"><span  class="PendingLink">Add/remove</span></a>
			<a id="general_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('general');"><span class="saveBTN">Save</span></a>
			

			</div>	
			<table id="generaltbl"  class="tblStyle" cellpadding="0" cellspacing="0">

			</table>
			
			
			
			
			
		</div>
		
		
		<h3>
		
		<a href="#"><span id="general_property">General Property</span></a>
		</h3>

		<div id="general_property_Body" title=""
			style="min-height: 191px; overflow: hidden;">
			
			<div class="headerBtns">
			<a href="#" id="general_property_addRemove" onclick="openAttrDialog('general_property');" class="btn02 btnprojectattr"><span  class="PendingLink">Add/remove</span></a>
			<a id="general_propert_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('general_property');"><span class="saveBTN">Save</span></a>
			

			</div>	
			<table id="general_property_tbl"  class="tblStyle" cellpadding="0" cellspacing="0">

			</table>
			
			
			
			
			
		</div>
		
		<h3>
			<a href="#"><span id="naturalperson">Natural Person</span></a>
		</h3>

		<div id="naturalpersonBody" title="" style="min-height: 191px; overflow: hidden;">				

			
			<div class="headerBtns">
			<a  href="#" id="naturalperson_addRemove" onclick="openAttrDialog('naturalperson');" class="btn02 btnprojectattr"><span class="PendingLink">Add/remove</span></a>
			<a id="naturalperson_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('naturalperson');"><span class="saveBTN">Save</span></a>
			
			
			

			</div>	
			<table id="natural_persontbl"  class="tblStyle" cellpadding="0" cellspacing="0">
			
			

			</table>
			
						
		</div>
		<h3>
			<a href="#"><span id="multimedia">Multimedia</span></a>
		</h3>

		<div id="multimediaBody" title=""
			style="min-height: 191px; overflow: hidden;">
			
			<div class="headerBtns">
			<a href="#" id="multemedia_addRemove" onclick="openAttrDialog('multimedia');" class="btn02 btnprojectattr"><span  class="PendingLink">Add/remove</span></a>
			<a id="multemedial_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('multimedia');"><span class="saveBTN">Save</span></a>
			

			</div>	
			<table id="multimediatbl"  class="tblStyle" cellpadding="0" cellspacing="0">
		
			</table>
		
			
		</div>
		<h3>
			<a href="#"><span id="tenure">Tenure</span></a>
		</h3>

		<div id="tenureBody" title=""
			style="min-height: 191px; overflow: hidden;">
			<div class="headerBtns">
			<a href="#" id="tenure_addRemove" onclick="openAttrDialog('tenure');" class="btn02 btnprojectattr"><span class="PendingLink">Add/remove</span></a>
			<a id="tenure_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('tenure');"><span class="saveBTN">Save</span></a>
			

			</div>	
			<table id="tenuretbl"  class="tblStyle" cellpadding="0" cellspacing="0">
			</table>
			
		</div>
		<h3>
			<a href="#"><span id="nonnatural_person">Non Natural Person</span></a>
		</h3>

		<div id="nonnaturalBody" title=""
			style="min-height: 191px; overflow: hidden;">
			
			<div class="headerBtns">
			<a href="#" id="nonnaturalperson_addRemove" onclick="openAttrDialog('nonnatural_person');" class="btn02 btnprojectattr"><span  class="PendingLink">Add/remove</span></a>
			<a id="nonnaturalperson_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('nonnatural_person');"><span class="saveBTN">Save</span></a>
			

			</div>	
			<table id="non_Natural_Persontbl"  class="tblStyle" cellpadding="0" cellspacing="0">
			</table>
			
						
		</div>
		
		
			<h3>
			<a href="#"><span id="general">Custom</span></a>
		</h3>

		<div id="customBody" title=""
			style="min-height: 191px; overflow: hidden;">
			
			<div class="headerBtns">
			<a href="#" id="custom_addRemove" onclick="openAttrDialog('custom');" class="btn02 btnprojectattr"><span  class="PendingLink">Add/remove</span></a>
			<a id="custom_btnSave" class="btn02 btnprojectattr" onclick="javascript:saveLayergroup('custom');"><span class="saveBTN">Save</span></a>
			

			</div>	
			<table id="customtbl"  class="tblStyle" cellpadding="0" cellspacing="0">

			</table>
			
		</div>
		
	
	</div>
        	</td>
			</tr>
			
    </tbody>
    
    <tfoot>

	    
	</tfoot>
    
    
    </table>

</form>
</div>

<div id="attr-dialog-form" title="Attribute">

<form class="cmxform" id="addProjectAttributeformID" action=""  onsubmit="return false;">

<input type="hidden" name="project" id="project" />
<input type="hidden" name="attributecategory" id="attributecategory" />  
<input type="hidden" id="_optionOrder" name="_optionOrder"> 
<input type="checkbox" id="selectAll" > Select All
<fieldset>

<div id="dialogBody">


</div>






<script id="generalAttrTemplate" type="text/x-jquery-tmpl">
<tr>		
	<td colspan="2">



		{{if (uid)}}<input type="hidden" id="hid_uid${id}" name="hid_aliasuid" value="${uid}"/>{{/if}}		
		{{if (flag)}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;" checked/>{{/if}}	
			<input type="checkbox" id="${id}" name="alias" value="${id}_${uid}" class='roleCheckbox' checked /> ${alias}
		{{else}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;"/>{{/if}}
			<input type="checkbox" id="${id}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}	
		{{/if}}				
	</td>       	
</tr>	
</script>

<script id="naturalpersonAttrTemplate" type="text/x-jquery-tmpl">
<tr>		
	<td colspan="2">
		{{if (uid)}}<input type="hidden" id="hid_uid${id}" name="hid_aliasuid" value="${uid}"/>{{/if}}		
		{{if (flag)}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;" checked/>{{/if}}	
			<input type="checkbox" id="${id}" name="alias" value="${id}_${uid}" class='roleCheckbox' checked /> ${alias}
		{{else}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;"/>{{/if}}
			<input type="checkbox" id="${id}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}	
		{{/if}}				
	</td>       	
</tr>	
</script>


<script id="propertyAttrTemplate" type="text/x-jquery-tmpl">
<tr>		
	<td colspan="2">
		{{if (uid)}}<input type="hidden" id="hid_uid${id}" name="hid_aliasuid" value="${uid}"/>{{/if}}		
		{{if (flag)}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;" checked/>{{/if}}	
			<input type="checkbox" id="${id}" name="alias" value="${id}_${uid}" class='roleCheckbox' checked /> ${alias}
		{{else}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;"/>{{/if}}
			<input type="checkbox" id="${id}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}	
		{{/if}}				
	</td>       	
</tr>
</script>

				

<script id="tenureAttrTemplate" type="text/x-jquery-tmpl">
<tr>		
	<td colspan="2">
		{{if (uid)}}<input type="hidden" id="hid_uid${id}" name="hid_aliasuid" value="${uid}"/>{{/if}}		
		{{if (flag)}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;" checked/>{{/if}}	
			<input type="checkbox" id="${id}" name="alias" value="${id}_${uid}" class='roleCheckbox' checked /> ${alias}
		{{else}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;"/>{{/if}}
			<input type="checkbox" id="${id}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}	
		{{/if}}				
	</td>       	
</tr>
</script>



<script id="multimediaAttrTemplate" type="text/x-jquery-tmpl">
<tr>		
	<td colspan="2">
		{{if (uid)}}<input type="hidden" id="hid_uid${id}" name="hid_aliasuid" value="${uid}"/>{{/if}}		
		{{if (flag)}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;" checked/>{{/if}}	
			<input type="checkbox" id="${id}" name="alias" value="${id}_${uid}" class='roleCheckbox' checked /> ${alias}
		{{else}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;"/>{{/if}}
			<input type="checkbox" id="${id}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}	
		{{/if}}				
	</td>       	
</tr>
</script>

<script id="customAttrTemplate" type="text/x-jquery-tmpl">
<tr>		
	<td colspan="2">
		{{if (uid)}}<input type="hidden" id="hid_uid${id}" name="hid_aliasuid" value="${uid}"/>{{/if}}		
		{{if (flag)}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;" checked/>{{/if}}	
			<input type="checkbox" id="${id}" name="alias" value="${id}_${uid}" class='roleCheckbox' checked /> ${alias}
		{{else}}
			{{if (uid)}}<input type="checkbox" id="uid${id}" name="aliasuid" value="${uid}" class='roleCheckbox' style="display:none;"/>{{/if}}
			<input type="checkbox" id="${id}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}	
		{{/if}}				
	</td>   
    	
</tr>
</script>
</fieldset>
</form>
		
</div>
<script id="categoryattrTemplate" type="text/x-jquery-tmpl">
<tr>
<td id="${attributeMaster.id}">
	${attributeMaster.alias}
</td>
<td>
            <a href="#" id="${alias}"  name="alias" value="${id}" class="lgup"><img src="resources/images/studio/move_up.png"></a>
            <a href="#" id="${alias}"  name="alias" value="${id}" class="lgdown"><img src="resources/images/studio/move_down.png"></a>
			
</td>

<input type="checkbox" id="${alias}" name="alias" value="${id}" class='roleCheckbox' /> ${alias}
</tr>
</script>	
<script>

$(document).ready(function(){
	$('#selectAll').on('click',function(){
		if ($(this).is(':checked')) {
			$('.roleCheckbox').each(function(){
				this.checked = true;
			});
		}else{
			$('.roleCheckbox').each(function(){
				this.checked = false;
			});
		}
	})
});
</script>	
