
<script type="text/javascript">
        $(document).ready(function(){		
			
	    $("input, textarea, select").addClass("idle");
            $("input, textarea, select").focus(function(){
                $(this).addClass("activeField").removeClass("idle");
	    }).blur(function(){
                $(this).removeClass("activeField").addClass("idle");
	    });
        });
    </script>


<div id="sidebar">
	<div id="inputArea">
        <!--start:form-->
		<form>
        	<div class="form_div">
            	<table width="90%" cellpadding="1" cellspacing="1">
                	<tr>
                    	<td colspan="2">
                        	Name:
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="2">
                        	<input id="Text16" type="text" />
                        </td>
                    </tr>
                    <tr>
                    	<td width="10%" >Symbol</td>
                        <td align="left" class="formselectset">
                        	<select>
                               <option>Circle</option>
                            </select>
                        </td>  
                    </tr>  
                    <tr>
                    	<td width="10%" >Size</td>
                        <td align="left" class="formselectset">
                        	<input id="Text16" type="text" />
                        </td>  
                    </tr>  
                    <tr>
                    	<td width="10%" >Rotation</td>
                        <td align="left" class="formselectset">
                        	<input id="Text16" type="text" />
                        </td>  
                    </tr> 
                     <tr>
                    	<td colspan="2">&nbsp;
                        	
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="2">
                        	<fieldset>
                            	<legend>Fill</legend>
                                <table width="90%" cellpadding="1" cellspacing="1" class="tablepad">
                                	<tr>
                                    	<td>
                                        	Color:
                                        </td>
                                        <td>
                                        	<input id="Text16" type="text" style="background-color:#900; background-image:none; " />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	Opacity:
                                        </td>
                                        <td>
                                        	<input id="Text16" type="text" />
                                        </td>
                                    </tr>
                                </table>                            
                            </fieldset>
                        
                        </td>
                    </tr>   
                     <tr>
                    	<td colspan="2">&nbsp;
                        	
                        </td>
                    </tr> 
                    <tr>
                    	<td colspan="2">
                        	<fieldset>
                            	<legend>Stroke</legend>
                                <table width="90%" cellpadding="1" cellspacing="1" class="tablepad">
                                	<tr>
                                    	<td>
                                        	Style:
                                        </td>
                                        <td>
                                        	<select>
                                            	<option>Solid</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	Color:
                                        </td>
                                        <td>
                                        	<input id="Text16" type="text" style="background-color:#000; background-image:none; "/>
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	Width:
                                        </td>
                                        <td>
                                        	<input id="Text16" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td>
                                        	Opacity:
                                        </td>
                                        <td>
                                        	<input id="Text16" type="text" />
                                        </td>
                                    </tr>
                                </table>                            
                            </fieldset>
                        
                        </td>
                    </tr>                   
                </table>
            </div>
        </form>       
        <!--end:form-->
	</div>
</div>

