/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	border:1px solid #a6c9e2;
	margin:0px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	white-space: nowrap;
	padding-right: 1.15em;
	text-align: left;
}

table.tablesorter thead tr .no-sort {
	background-image: url(bg-table-blue.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
	
}
table.tablesorter tbody td {
	color: #000;
	padding:6px 4px;
	background-color: #FFF;
	vertical-align: top;
	font-size:12px;
}
table.tablesorter tbody tr.odd td {
	background-color:#EFF8FF;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


table.tablesorter thead td {

    border: medium none;
    vertical-align: middle;
}

table.tablesorter thead .filter {
    text-align: right;
}

table.tablesorter tfoot {
    background-color: #E1ECF9;
    text-align: center;
}


table.tablesorter thead .filter {
    text-align: right;
}

table.tablesorter thead td {
background-color: #fff;

    vertical-align: middle;
}

table.tablesorter tr.tblFooter
{
	background: url(bgtblFooter.gif) repeat-x;
	height:30px;
	
	overflow:hidden;
	text-align:center;
}

table.tablesorter tr.tblFooter td table td
{
background:transparent;
padding:0;
text-align:center;
}







#LayerRowData td
{
word-break: break-all;
}
