<div id="bookmarkdiv" class="dialog-v">
	<div id="infoDetails">
            <div id="bookmarkstar" class="bookmark-star" data-i18n="[title]viewer-new-bookmark"></div>		
            <div id="span-close" data-i18n="[title]gen-close" class="span-c" onclick="javascript:closeDialog('bookmarkdiv');"></div>
            <div id="bookmark-help" class="span-h" data-i18n="[title]viewer-bookmark-help" onclick="javascript:openHelpWindow('bookmark_help');"></div>
		<div class="lineBreak05p"></div>
		
		<div class="formPattern">
		<div id="addbk" class="addbk-c blueSwitch">
			<form id="BookmarkForm" action="" onsubmit="return false;" >
				<input class="int" type="text" name="name" id="name" value=""/>
				<input type="hidden" name="description" id="description" />
				<input type="hidden" name="minx" id="minx" />
				<input type="hidden" name="miny" id="miny" />
				<input type="hidden" name="maxx" id="maxx" />
				<input type="hidden" name="maxy" id="maxy" />
				<input type="hidden" name="projectName" id="bkProjectName" />
			</form>	
                    <a id="bk-save" class="bk-s" href="#" data-i18n="gen-save"></a>
		</div>
		<div class="lineBreak05p"></div>
		<div id="bokkmarkBody"></div>
		
		</div>
	</div>


	<script id="bookmarkTemplate" type="text/x-jquery-tmpl">
    {{if $item.bookmarkList.length>0 }}    
		{{each(key,bookmark) $item.bookmarkList}}  
		<div  id="${bookmark.bookmarkname}"  class="cellcolor">
        <div>
        	<p>
				<img src="resources/images/viewer/bk-01.png"/> 
			<span class="bookmarks-i">	
				${bookmark.bookmarkname}  
            
			</span>
			</p>
            <div class="widthadjust">
            	<div class="left">
                	<div id="zoomBookmark" class="clearmarkers-s"><a href="#" class="zoomlink-s" onclick="javascript:zoomBookmark('${bookmark.bookmarkid}');" data-i18n="viewer-zoom"></a></div>
                 </div>
                 <div class="right">
                 	<div id="removeBookmark" class="clearmarkers-s"><a href="#" class="removebklink-s" onclick="javascript:removeBookmark('${bookmark.bookmarkid}','${bookmark.bookmarkname}');" data-i18n="gen-remove"></a></div>
                  </div>
            </div>
       	</div>  
        <div style="clear:both;"></div>   
        </div> 
		{{/each}} 
	{{/if}}	
 </script>

</div>
