<div class="PrintWrapperLandScape">
	<div class="personalDetails-wrap">
		<div class="topInfo">
			<p class="text-right DocRef">
				Fomu ya Ardhi ya Vijiji Na. 21
			</p>
			<p class="type">
				<strong>JAMHURI YA MUUNGANO WA TANZANIA </strong>
			</p>
		<!-- 	<p class="text-right">
				Namba ya Hati ya Hakimiliki: <span id="_idccro"></span>

			</p> -->
			<p class="text-right">
				Namba ya Hati ya Hakimiliki: _ _ _ _ _ _</span>

			</p>
			<p class="text-right" style="padding-right:60px">
				Namba ya UKA:-<span id="_idukapin"></span>
			</p>
		</div>

		<div class="personalDetails alt">

			<div class="personalDetails-inner">

				<p class="type">
					<strong>SHERIA YA ARDHI YA VIJIJI, 1999</strong>
				</p>
				<p class="type">(Na. 5 ya 1999)</p>

				<p class="type">
					<strong>HATI YA HAKIMILIKI YA KIMILA</strong>
				</p>
				<p class="type">(CHINI YA FUNGU LA 25)</p>
				<!----- Single Owner Div-------------------------------------->
				<div id="singleperson">
					<p style="text-align:justify;" >
						Leo tarehe ..................................mwezi.......................................... mwaka.................................
					<br> Hii ni kuthibitisha kwamba
						Halmashauri ya Kijiji cha <strong>Itagutwa, S.L.P. 108 </strong> imetoa kwa
						<span class="_idowner"></span> (humu ndani akirejewa kama
						&quot;Mkazi&quot;) hakimiliki ya kimila (itaitwa
						&quot;hakimiliki&quot;) juu ya ardhi iliyofafanuliwa katika
						Jedwali (humu ndani itaitwa &quot;ardhi&quot;) kwa <span class="_rights"></span> tangu tarehe.................................................. mwezi.................................................. mwaka................. kwa maudhui na
						tafsiri halisi ya Sheria ya Ardhi ya Vijiji na kwa kuzingatia
						vipengele vyake na kanuni zozote zinazotungwa chini ya sheria hiyo
						au sheria mbadala au marekebisho yake na kwa mujibu wa masharti
						yafuatayo:
					</p>
					<ol class="lower-roman-list">
						<li>Mkazi atalipa kodi ya mwaka ya Shs............ kabla ya
							tarehe............ya mwezi.......kila mwaka (kama inahusika).</li>
						<li>Ardhi itatumika kwa ajili ya<strong> <span class="_idproposeduse"></span></strong>.
						</li>
						<li>Mkazi atawajibika kuhifadhi mazingira (ardhi na maji).</li>
						<li>Mkazi atahakikisha kwamba mipaka ya ardhi inalindwa na
							kutunzwa na idumu kuwa bayana kwa kipindi chote cha hakimiliki.</li>
						<li>Mkazi ataheshimu na kuhifadhi haki za njia zilizopo.</li>
						<li>Uhakilishi wa hakimiliki kwa mtu yeyote au kikundi
							chochote cha watu ambao kwa kawaida si wakazi wa kijiji lazima
							uidhinishwe na Halmashauri ya Kijiji.</li>
					</ol>
				</div>
				<!----------------------------- End Single Owner Div---------------------------------->
				<!----- Multiple Owner (Joint) Div-------------------------------------->
				<div id="multipleperson_joint">
					<p style="text-align:justify">
						Leo tarehe ..................................mwezi.......................................... mwaka.................................<br> Hii ni kuthibitisha kwamba
						Halmashauri ya Kijiji cha <strong> Itagutwa, S.L.P. 108 </strong>imetoa kwa
						<span class="_idowner"></span> kwa umiliki wa pamoja &quot;Mke na Mume&quot;(humu ndani wakirejewa kama
						&quot;Wakazi&quot;) hakimiliki ya kimila (itaitwa
						&quot;hakimiliki&quot;) juu ya ardhi iliyofafanuliwa katika
						Jedwali (humu ndani itaitwa &quot;ardhi&quot;) kwa <span class="_rights"></span> tangu tarehe......... mwezi.................................................. mwaka................. kwa maudhui na
						tafsiri halisi ya Sheria ya Ardhi ya Vijiji na kwa kuzingatia
						vipengele vyake na kanuni zozote zinazotungwa chini ya sheria hiyo
						au sheria mbadala au marekebisho yake na kwa mujibu wa masharti
						yafuatayo:
					</p>
					<ol class="lower-roman-list">
						<li>Wakazi watalipa kodi ya mwaka ya Shs............. kabla ya
							tarehe............ya mwezi.......kila mwaka (kama inahusika).</li>
						<li>Ardhi itatumika kwa ajili ya <strong><span class="_idproposeduse"></span></strong>.
						</li>
						<li>Wakazi watawajibika kuhifadhi mazingira (ardhi na maji).</li>
						<li>Wakazi watahakikisha kwamba mipaka ya ardhi inalindwa na
							kutunzwa na idumu kuwa bayana kwa kipindi chote cha hakimiliki.</li>
						<li>Wakazi wataheshimu na kuhifadhi haki za njia zilizopo.</li>
						<li>Uhakilishi wa hakimiliki kwa mtu yeyote au kikundi
							chochote cha watu ambao kwa kawaida si wakazi wa kijiji lazima
							uidhinishwe na Halmashauri ya Kijiji.</li>
					</ol>
				</div>
				<!----------------------------- End Multiple Owner(Joint) Div---------------------------------->
				
							<!----- Multiple Owner (Common) Div-------------------------------------->
					<div id="multipleperson_common">
					<p style="text-align:justify">
						Leo tarehe ..................................mwezi.......................................... mwaka.................................<br> Hii ni kuthibitisha kwamba
						Halmashauri ya Kijiji cha <strong> Itagutwa, S.L.P. 108 </strong>(Jina na anwani)imetoa kwa
						<span class="_idowner"></span> kwa umiliki wa pamoja kwa hisa (humu ndani wakirejewa kama
						&quot;Wakazi&quot;) hakimiliki ya kimila (itaitwa
						&quot;hakimiliki&quot;) juu ya ardhi iliyofafanuliwa katika
						Jedwali (humu ndani itaitwa &quot;ardhi&quot;) kwa <span class="_rights"></span> tangu tarehe......... mwezi.................................................. mwaka................. kwa maudhui na
						tafsiri halisi ya Sheria ya Ardhi ya Vijiji na kwa kuzingatia
						vipengele vyake na kanuni zozote zinazotungwa chini ya sheria hiyo
						au sheria mbadala au marekebisho yake na kwa mujibu wa masharti
						yafuatayo:
					</p>
					<ol class="lower-roman-list">
						<li>Wakazi watalipa kodi ya mwaka ya Shs............. kabla ya
							tarehe............ya mwezi.......kila mwaka (kama inahusika).</li>
						<li>Ardhi itatumika kwa ajili ya <strong><span class="_idproposeduse"></span></strong>.
						</li>
						<li>Wakazi watawajibika kuhifadhi mazingira (ardhi na maji).</li>
						<li>Wakazi watahakikisha kwamba mipaka ya ardhi inalindwa na
							kutunzwa na idumu kuwa bayana kwa kipindi chote cha hakimiliki.</li>
						<li>Wakazi wataheshimu na kuhifadhi haki za njia zilizopo.</li>
						<li>Uhakilishi wa hakimiliki kwa mtu yeyote au kikundi
							chochote cha watu ambao kwa kawaida si wakazi wa kijiji lazima
							uidhinishwe na Halmashauri ya Kijiji.</li>
					</ol>
				</div>
				<!----------------------------- End Multiple Owner(Common) Div---------------------------------->
				
				<!----------------------------- Start Tenancy in probate (Admin) Div---------------------------------->
						<div id="adminPerson">
					<p style="text-align:justify">
						Leo tarehe ..................................mwezi.......................................... mwaka.................................<br> Hii ni kuthibitisha kwamba
						Halmashauri ya Kijiji cha <strong> Itagutwa, S.L.P. 108 </strong> (Jina na anwani)imetoa kwa
						<span class="_idowner"></span> msimamizi wa mirathi ya Marehemu <strong><span id="_idadmin"></span></strong>(humu ndani akirejewa kama
						&quot;Mkazi&quot;) hakimiliki ya kimila (itaitwa
						&quot;hakimiliki&quot;) juu ya ardhi iliyofafanuliwa katika
						Jedwali (humu ndani itaitwa &quot;ardhi&quot;) kwa <span class="_rights"></span> tangu tarehe.................................................. mwezi.................................................. mwaka................. kwa maudhui na
						tafsiri halisi ya Sheria ya Ardhi ya Vijiji na kwa kuzingatia
						vipengele vyake na kanuni zozote zinazotungwa chini ya sheria hiyo
						au sheria mbadala au marekebisho yake na kwa mujibu wa masharti
						yafuatayo:
					</p>
					<ol class="lower-roman-list">
						<li>Mkazi atalipa kodi ya mwaka ya Shs............ kabla ya
							tarehe............ya mwezi.......kila mwaka (kama inahusika).</li>
						<li>Ardhi itatumika kwa ajili ya <strong><span class="_idproposeduse"></span></strong>.
						</li>
						<li>Mkazi atawajibika kuhifadhi mazingira (ardhi na maji)</li>
						<li>Mkazi atahakikisha kwamba mipaka ya ardhi inalindwa na
							kutunzwa na idumu kuwa bayana kwa kipindi chote cha hakimiliki.</li>
						<li>Mkazi ataheshimu na kuhifadhi haki za njia zilizopo.</li>
						<li>Uhakilishi wa hakimiliki kwa mtu yeyote au kikundi
							chochote cha watu ambao kwa kawaida si wakazi wa kijiji lazima
							uidhinishwe na Halmashauri ya Kijiji.</li>
					</ol>
				</div>
				
				
				<!----------------------------- End Tenancy in probate(Admin) Div---------------------------------->
				
				
				
						<div id="guardianPerson">
					<p style="text-align:justify">
						Leo tarehe ..................................mwezi.......................................... mwaka.................................<br> Hii ni kuthibitisha kwamba
						Halmashauri ya Kijiji cha <strong> Itagutwa, S.L.P. 108 </strong>imetoa kwa
						<strong><span id="_idguardian"></span></strong> msimamizi mlezi wa <strong><span class="_idowner"></span></strong>(humu ndani akirejewa kama
						&quot;Mkazi&quot;) hakimiliki ya kimila (itaitwa
						&quot;hakimiliki&quot;) juu ya ardhi iliyofafanuliwa katika
						Jedwali (humu ndani itaitwa &quot;ardhi&quot;) kwa <span class="_rights"></span> tangu tarehe.................................................. mwezi.................................................. mwaka................. kwa maudhui na
						tafsiri halisi ya Sheria ya Ardhi ya Vijiji na kwa kuzingatia
						vipengele vyake na kanuni zozote zinazotungwa chini ya sheria hiyo
						au sheria mbadala au marekebisho yake na kwa mujibu wa masharti
						yafuatayo:
					</p>
					<ol class="lower-roman-list">
						<li>Mkazi atalipa kodi ya mwaka ya Shs............ kabla ya
							tarehe............ya mwezi.......kila mwaka (kama inahusika).</li>
						<li>Ardhi itatumika kwa ajili ya <strong><span class="_idproposeduse"></span></strong>.
						</li>
						<li>Mkazi atawajibika kuhifadhi mazingira (ardhi na maji).</li>
						<li>Mkazi atahakikisha kwamba mipaka ya ardhi inalindwa na
							kutunzwa na idumu kuwa bayana kwa kipindi chote cha hakimiliki.</li>
						<li>Mkazi ataheshimu na kuhifadhi haki za njia zilizopo.</li>
						<li>Uhakilishi wa hakimiliki kwa mtu yeyote au kikundi
							chochote cha watu ambao kwa kawaida si wakazi wa kijiji lazima
							uidhinishwe na Halmashauri ya Kijiji.</li>
					</ol>
				</div>
				
				
				<!----- Institution Div-------------------------------------->
				<div id="instituteperson">
				<p style="text-align:justify">
						Leo tarehe ..................................mwezi.......................................... mwaka.................................<br>Hii ni kuthibitisha kwamba
						Halmashauri ya Kijiji cha <strong> Itagutwa, S.L.P. 108 </strong> imetoa kwa
						<span id="_idinstitute"></span> (humu ndani akirejewa kama
						&quot;Mkazi&quot;) hakimiliki ya kimila (itaitwa
						&quot;hakimiliki&quot;) juu ya ardhi iliyofafanuliwa katika
						Jedwali (humu ndani itaitwa &quot;ardhi&quot;) kwa kipindi kisicho
						na kikomo tangu tarehe.......................................... mwezi.................................................. mwaka................. kwa maudhui na
						tafsiri halisi ya Sheria ya Ardhi ya Vijiji na kwa kuzingatia
						vipengele vyake na kanuni zozote zinazotungwa chini ya sheria hiyo
						au sheria mbadala au marekebisho yake na kwa mujibu wa masharti
						yafuatayo:
					</p>
					<ol class="lower-roman-list">
						<li>Mkazi atalipa kodi ya mwaka ya Shs............. kabla ya
							tarehe............ya mwezi.......kila mwaka (kama inahusika).</li>
						<li>Ardhi itatumika kwa ajili ya <strong><span class="_idproposeduse"></span></strong>.
						</li>
						<li>Mkazi atawajibika kuhifadhi mazingira (ardhi na maji).</li>
						<li>Mkazi atahakikisha kwamba mipaka ya ardhi inalindwa na
							kutunzwa na idumu kuwa bayana kwa kipindi chote cha hakimiliki.</li>
						<li>Mkazi ataheshimu na kuhifadhi haki za njia zilizopo.</li>
						<li>Uhakilishi wa hakimiliki kwa mtu yeyote au kikundi
							chochote cha watu ambao kwa kawaida si wakazi wa kijiji lazima
							uidhinishwe na Halmashauri ya Kijiji.</li>
					</ol>
				</div>
				<!----------------------------- End Institution Div---------------------------------->

			</div>


		</div>




		<div class="container-fluid">
			<div class="row-fluid">

				<div style="float: left; width: 50%">
					<div class="personalDetails alt">
						<div  style="min-height: 285px;padding: 0 5px;">

							<p class="type">
								<strong>JEDWALI</strong>
							</p>
							<p>(Maelezo kamili ya eneo na mipaka yake)</p>
							<p>
								Ardhi hii yenye eneo lenye ukubwa wa <strong>ekari <span id="_idarea"></span></strong>
								 Iliyoko katika Kitongoji cha <strong><span id="_idhamlet"></span></strong>.
							</p>
							<p>
								<strong>Mipaka:</strong>
							</p>
							<p>
								Kaskazini imepakana na <span id="_idneighbor_north"></span>.
							</p>
							<p>
								Kusini imepakana na <span id="_idneighbor_south"></span>.
							</p>
							<p>
								Mashariki imepakana na <span id="_idneighbor_east"></span>.
							</p>
							<p>
								Magharibi imepakana <span id="_idneighbor_west"></span>.
							</p>
							Kama inavyoonyeshwa katika mchoro/ramani hapa
							kulia.

						</div>
					</div>

				</div>
				<div style="float: left; width: 50%">
					<div class="personalDetails alt">
						<div style="min-height: 285px;">
							<div id="map-ccro" class="CCROMap">
								<img src="resources/images/compass.png" class="map-compass" />
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="personalDetails-wrap">
		<div class="personalDetails no-border">
			<div class=" owner row-fluid">
				<div class="span8">
					&nbsp;
					<p class="p-left-15">1.Jina kamili :<strong><span id="_villageChairman"></span></strong></p>
					&nbsp;
					<p class="p-left-15">Saini:.................................</p>
					<p class="p-left-15">
						Anuani S.L.P: <strong>108,Iringa</strong>
					</p>
					<p class="p-left-15 ">
						Wadhifa:<strong> Mwenyekiti wa Kijiji</strong>
					</p>
					<br>

					<p class="p-left-15">Jina
						kamili:<strong><span id="_villageOfficer"></span></strong></p>
						&nbsp;
					<p class="p-left-15">Saini:.................................</p>
					<p class="p-left-15">
						Anuani S.L.P: <strong>108,Iringa</strong>
					</p>
					<p class="p-left-15 ">
						Wadhifa: <strong>Afisa Mtendaji wa Kijiji</strong>
					</p>
					<br> <br>
				</div>
				<div class="span4">
					&nbsp;
					<p class="type">LAKIRI/MHURI WA HALMASHAURI YA KIJIJI</p>
					<br>
					<p class="type">
						<img src="resources/images/no-image.png" />
					</p>
				</div>
			</div>
			2.<span id="single_owner"></span><span id=institueName></span>
			<div id="documentId-div"></div>

			<!--------------------------------- Single Owner(picture) Div----------------------------------->
			<div style="display: none">
				<div id="singlepicture" class="singlepicture">
					<div class="row-fluid">
						<div class="span8">

							<p>
								<span class="left-50-alt"> Jina </span> <span class="left-50 ">Saini/
									dole gumba </span>
							</p>
							&nbsp;
							<p>
								<span class="left-50-alt"> ....................... </span> <span
									class="left-50">.................... </span>
							</p>



						</div>

						<div class="span4">
							<p class="type">PICHA</p>
							<p class="type">
								<img id="_occuiperImage" />
							</p>
						</div>
					</div>
				</div>
			</div>
			<!----------------------- End Single Owner(Picture) Div----------------------------------->
			<!--------------------------------- Multiple Owner(picture) Div----------------------------------->
			<!-- <div id="singlepicture1">
		<div class="row-fluid">
			<div class="span8">
				<p>2.Wamiliki(Wakazi)</p>
				<p>
					<span class="left-50-alt"> Jina </span> <span class="left-50">Saini/
						dole gumba </span>
				</p>
				<p>
					<span class="left-50-alt"> ....................... </span> <span
						class="left-50">.................... </span>
				</p>



			</div>

			<div class="span4">
				<p class="type">PICHA</p>
				<p class="type">
					<img id="_occuiperImage1" />
				</p>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8">
			
				<p>
					<span class="left-50-alt"> Jin </span> <span class="left-50">Saini/
						dole gumba </span>
				</p>
				<p>
					<span class="left-50-alt"> ....................... </span> <span
						class="left-50">.................... </span>
				</p>



			</div>

			<div class="span4">
				<p class="type">PICHA</p>
				<p class="type">
					<img id="_occuiperImage2" />
				</p>
			</div>
		</div>
		</div> -->
			<!----------------------- End Multiple Owner(Picture) Div----------------------------------->

			<!--------------------------------- Institution(picture) Div----------------------------------->
			<div id="institutepicture" style="display: none">
				<div class="row-fluid">
					<div class="span8">

						<!-- <p>
							<span id=institueName></span>

						</p> -->
						<ol>
							<!-- <li>i.Jina :<span id="institutenaturalPerson"></span></li> -->
							<li>i.Jina : .................................</li>
							<li>Saini : .................................</li>
							<li>Anuani : .................................</li>
							<li>Cheo : .................................</li>
						</ol>
						<ol>
							<li>ii.Jina : .................................</li>
							<li>Saini : .................................</li>
							<li>Anuani : .................................</li>
							<li>Cheo : .................................</li>
						</ol>

					</div>

					<div class="span4">
						<p class="type">LAKIRI</p>
						<p class="type">
							<img src="resources/images/no-image.png" />
						</p>
					</div>
				</div>
			</div>
			<!----------------------- End Institution(Picture) Div----------------------------------->
			<br>
			<div class="row-fluid">
				<div class="span8">

					<p>
						3.Imegongwa Lakiri ya Halmashauri ya<br>
						Wilaya ya Iringa na<br> kusainiwa leo
						Tarehe.........................<br> Mwezi..............................Mwaka
						......
					</p>
					<p>
						Jina: <strong><span id="_villageDlo"></span></strong>
					</p>
					<p>Saini:.......................................</p>
					<p>
						Wadhifa:<strong> Afisa Ardhi Mteule wa Wilaya</strong>
					</p>

				</div>
				<div class="span4">
					<p class="type">LAKIRI</p>
					<p class="type">
						<img src="resources/images/no-image.png" />
					</p>
				</div>
			</div>
			<div>
				<button id="print-btn" class="btn v-top-20" style="float: right"
					onclick="print_tempCCRO();">Print</button>

			</div>

		</div>
	</div>
</div>


