
<div class="PrintWrapperLandScape" id="ccroprint">


<div class="personalDetails alt"  >
  
  
    <div class="personalDetails-inner">
    
    <p class="text-right">Village Land Form No. 21</p>
    <p class="type">THE UNITED REPUBLIC OF TANZANIA </p>
    
    <div id="usin_detail">
    <p class="text-right">CCRO_NO:-<span id="_idccro"></span></p>
    <p class="text-right">Uka:-<span id="_idukapin"></span></p>
    </div>
    
	<p class="type"><strong>THE VILLAGE LAND ACT, 1999</strong></p>
	<p class="type">(No. 5 of 1999)</p>
	
	<p class="type"><strong>CERTIFICATE OF CUSTOMARY RIGHT OF OCCUPANCY</strong></p>
	<p class="type">(Under Section 25)</p>

	<p>The 29 <!-- [Approval or issuing date] --> day of month <!-- <span id="_ccroMonth"> </span>   [Year] -->.
	This is to certify that  Peterborg Village Council or Peterborg, St. Thomas, US Virgin Islands <!-- [Name and address of Village Council] --> has granted to <!-- <span id="_landOwner"></span> --> <!-- [Name of Occupier] --> Jeffrey Euwema (hereinafter called the Occupier) a customary right of occupancy (hereinafter called the right) in and over the land described in the Schedule here to (hereinafter called the land) for an indefinite period <!--  [indefinite period/for a term of 99 years/for a term of…66/33…years] --> <!-- from the [ Day] ….. day of  [Month] of [Year] 29 day of December 2014  --> 99 years according to the true intent and meaning of the Village Land Act and subject to the provisions thereof and to any regulations made hereunder and to any enactment in substitution thereof or amendment thereof and to the following conditions:
	</p>
		<ol  class="lower-roman-list">
		  <li >The occupier/occupiers to pay an annual  rent of TShs [amount]  before the 30th day of December each year. (if applicable)</li>
		  <li>The land shall be used for <span id="_landType"></span>.<!-- Residential/agricultural]. --></li>
		  <li>The occupier/occupiers shall be  responsible for protection of the environment (soil conservation and water  protection).</li>
		  <li>The occupier/occupiers shall ensure that  boundaries of the land are maintained and clearly marked throughout the term of  the right.</li>
		  <li>The occupier/occupiers shall respect and  maintain existing rights of way.</li>
		  <li>Any assignment of the right to a person or group  of persons not ordinarily resident in this village must be approved by the  Village Council</li>
		</ol>
</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="schedule" id="schedualDetail">
			
				<div class="span6">
				
					<div class="schedule-separator">
				<p class="type"><strong>SCHEDULE</strong></p>
						<p>(Full description of the land and its boundaries)</p>
						<p>This parcel of land with an area of 1.2 Acres  <!-- [Acres]  -->is located at [Hamlet]</p>
						<p><strong>Boundaries:</strong></p>
						 <p>North boundary : <span id="_northBoundary"></span> <!-- [Names of neighbor to North]  <span id="_northBoundaryNeigbor"></span> --></p>
						<p>South boundary  : <span id="_southBoundary"></span>   <!-- [Names of neighbor to South]  <span id="_southBoundaryNeigbor"></span> --></p>
						<p>East boundary   : <span id="_eastBoundary"></span>   <!-- [Names of neighbor to East]  <span id="_eastBoundaryNeigbors"></span> --></p>
						<p>West boundary   :<span id="_westBoundary"></span>    <!--  [Names of neighbor to West]   <span id="_westBoundaryNeigbor"></span> --></p>
				
				         (as shown in the sketch) 
				
				    </div>
			
			   </div>
			   
		
				<div id="map-ccro" class="span6" >
				<p class="type top-gap-6">
				
				</div>
	
	   </div>
	   
	 </div>
 </div>

    </div>
  <div class="personalDetails no-border">
  
  <div class="row-fluid">
  
 <div class="span6" id="chairmanDetail">
 <p><strong>Village Chairman</strong></p>
 <p class="p-left-15">Name: VS Naipaul <!-- (in full) --><span id="_nameOfChairman"></span>	</p>	      
<p class="p-left-15">Signature: VSN<span id="_signOfChairman"></span></p>
<p class="p-left-15">Date: 30 of December, 2014<span id="_dateofIssue"></span></p>
<p class="p-left-15">Address :10-00-999 Peterborg, St. Thomas US Virgin Islands<span id="_AddressOfChairman"></span></p>
<p class="p-left-15">Qualification: Village Chairman <span id="_qualificatinChairman"></span> 
<p class="p-left-15">Seal or Stamp of the Village Council: </p>
<p class="type"><span id="_SeaLMaps"></span><img src="resources/images/viewer/Seal.png" /></p>
</div>



<div class="span6" id="_ExecutiDetail">
<p><strong> Executive Officer</strong></p>
<p class="p-left-15">Name(in full): Derek Walcott <span id="_nameOfExecuti"></span></p>	      
<p class="p-left-15">Signature: DW<span id="_signOfExecuti"></span></p>
<p class="p-left-15">Date: 30 of December, 2014 <span id="_dateFromExecuti"></span></p>
<p class="p-left-15">Address: 10-00-999 Peterborg, St. Thomas US Virgin Islands <span id="_addressOfExecuti"></span></p>
<p class="p-left-15">Qualification:  Executive Officer<span id="_qualificatinExecuti"></span></p>
<p class="p-left-15">Seal or Stamp of the Executive Officer: </p>
<p class="type"><span id="_SeaLMapsExecuti"></span><img src="resources/images/viewer/Seal.png" /></p>
</div>	
</div>


   <!--    <div class="span6">
        <p class="type">Seal or Stamp of the Village Council</p>
        <p class="type"><span id="_SeaLMaps"></span><img src="images/no-image.png" /></p>
      </div>	 -->
    </div>
    
    
   <div class="personalDetails no-border">
   
    <div class="row-fluid">
      <div class="span6" id="_occupierDetail">
	  <p><strong>Occupier Details </strong></p>
	  <p class="p-left-15"> Name of the occupier: Jeffrey Euwema   <span  id="_nameOfOcupier"> </span>  </p>
	  <p class="p-left-15"> Photo:</p>
	  <!-- <table>
	  <tr>
	  <td><p> <span id="_occuiperImage" class="type"><img id= "_occuiperImage1" src="resources/images/viewer/Occupier.png" /> </span></p></td>
	<td><p><span id="_occuiperImage" class="type"><img id= "_occuiperImage2" src="resources/images/viewer/Occupier.png" /> </span> </p></td></tr></table> -->
	<table>
	<tr>
	<td>
	<div id="documentId-div">
	</div>
	</td>
	</tr>
	</table>
	 <p class="p-left-15"> Signature/Thumb print of the Occupier: JAE</p>
<!-- <p>	 <span id="_signOfOccupier"><img src="images/no-image.png" /> </span>	</p> -->	
     <!--  <p><span class="left-50-alt" id="" >	[name]</span>
	  <span class="left-50">        </span>	</p> -->	
 
     
  </div>

	
     <!--  <div class="span6" id="_occuiperImage">
        <p class="type">Photo:</p>
        <p class="type"><span id="_photo"><img src="images/no-image.png" /> </span></p>
      </div>	 -->
  




 <div class="span6" id="_districtOfficerDetail">
 
 <p><strong> District Land Officer</strong></p>
<p>with the SEAL of  IRINGA District Council :	</p>                                          	
<p>and signed this 30 day of  December, 2014 <!-- <span id="_documentName"> </span> day of <span id="_dayName"> </span> 20.<span id="_dateByLandOfficer"> </span> --></p>
<p class="p-left-15">Name: Mr. Roland Lander <span id="_nameLandOfficer"></span></p>
<p class="p-left-15">Signature: RML<span id="_SignLandOfficer"></span></p>
<p class="p-left-15">Qualification: District Land Officer<span id="_qualificationLandOfficer"></span> </p>
<p class="p-left-15">SEAL</p>
 <p class="type"><span id="_SealLandOfficer"></span><img src="resources/images/viewer/Seal.png" /></p>

</div>	


      <!-- <div class="span6">
        <p class="type">SEAL</p>
        <p class="type"><span id="_SealLandOfficer"></span><img src="images/no-image.png" /></p>
      </div> -->	
  
<button class="btn v-top-20" style="float:center"  onclick="window.print();">Print</button>
  
    
</div>

  </div>


<script id="printLandDetails_template1" type="text/x-jquery-tmpl">
	<tr>                                                                        
		<td>
			${_idccro};
		</td>
		<td>
		   ${_idukapin}
		</td>
		<td>
		   ${_ccroMonth}
		</td>
		<td>
		   ${_nameOfOccupier}
		</td>
		<td>
		   ${_nameOfCouncil}
		</td>
		<td>
		   ${_landType}
		</td>
	</tr>
</script>


<script id="schedualDetail" type="text/x-jquery-tmpl" >
<tr>

 <td>
  ${_northBoundary}
</td>
<td>
  ${__northBoundaryNeigbor}
</td>
<td>
  ${_southBoundary}
</td>
<td>
  ${_southBoundaryNeigbor}
</td>
<td>
  ${_eastBoundary}
</td>
<td>
  ${_eastBoundaryNeigbor}
</td>

<td>
  ${_westBoundary}
</td>
<td>
  ${_westBoundaryNeigbor}
</td>

</tr>
</div>
</script>

<script id="chairmanDetail" type="text/x-jquery-tmpl" >
<tr>
<tr>
<td>
 ${_nameOfChairman}
</td>
<td>
 ${_signOfChairman}
</td>

<td>
 ${_dateofIssue}
</td>
<td>
 ${_AddressOfChairman}
</td>

<td>
 ${_qualificatinChairman}
</td>
</tr>
</script>


<script id="ExecutiDetail" type="text/x-jquery-tmpl" >
<tr>
<td>
 ${_nameOfExecuti}
</td>
<td>
 ${_signOfExecuti}
</td>

<td>
 ${_dateFromExecuti}
</td>
<td>
 ${_AddressOfExecuti}
</td>

<td>
 ${_qualificatinExecuti}
</td>

<td>
 ${_SeaLMaps}
</td>
</tr>
</script>

<script id="occupierDetail" type="text/x-jquery-tmpl">
<tr>
<td>
 ${_nameOfOcupier}
</td>
<td>
 ${_signOfOcupier}
</td>
<td>
 ${_occuiperImage}
</td>
</tr>
</script>







