<div id="fileuploaddiv" title="Search" class="dialog-v">

	<div id="uploadTmpl" class="lab-int">
		<div id="span-close" class="span-c" title="Close" 
			onclick="javascript:closeDialog('fileuploaddiv');"></div>
		<div id="fileupload-help" class="span-h" title="This is Search help for File Upload"  ></div>
		<div class="lineBreak05p"></div>
		
		<div id="uploadDiv">	</div>
		
		
	</div>
	<div id="attachmentDiv" class="attachmentcontainer">
	<div class="blueboxHeader"></div>
		
	<div class="blueboxContent">
		
		<div id="fileAttachmentDiv">	</div>
		<div class="outertableup">    
		<div id="AttchFileList" class="lab-int">
        	<table width="100%" cellpadding="1" cellspacing="1">        	
                	<!--start:heading-->
                    <tr>
                        <td colspan="2" class="subTitle">
                            <span id="al_attach_files">Attached Files</span>
                        </td>
                   </tr>
               		<!--end:heading--> 
            </table>
			<table width="100%" cellspacing="1" cellpadding="1" border="0">
				<thead>
					<tr>
						<!-- th class="headercolorup">Associate Id</th-->
						<th class="headercolorup"> File</th>
						<th class="headercolorup">Action</th>
					</tr>
				</thead>
				
				<tbody id="AttchFileListBody">
			
				</tbody>
				
			</table>
		</div>
    </div>
	</div>
<div class="blueboxFooter"></div>
	
	</div>
</div>
