 <form id="imoprtDataFrm">
    <div id="uploaddataDiv_accordion" style="text-align:left;">
		      	<h3><a href="#">Import TAB File Data</a></h3>
        
		<div id="importdata_TAB" title="TAB" style="height:250px" > 
			<div id="divUploadTABFile"> 
			</div>
			<div id="viewTablog" class="formRow">
			 <center>For viewing Log Detail 
			 <a href="../resources/import.log" target="_blank"  > <b>click here</b> </a> </center>
			</div>
		</div>
		
		<h3><a href="#">Import GPS Data</a></h3>
        
		<div id="importdata_GPS" title="GPS" style="height:250px">   
			<div id="divUploadGPSFile"> 
			</div>
			<div id="viewJoblog" class="formRow">
			 <center>For viewing Job importing log Detail 
			 <a href="../resources/import.log" target="_blank"  > <b>click here</b> </a> </center>
			</div>
	</div>
	</div>
</form>