<!-- <script>
/*var width = $(window).width(); 
var height = $(window).height(); 

if ((width >= 1024  ) && (height>=768)) {
 $(".amendbeforeAfterTable-overlap").css('width','320px');
}
else {
$(".amendbeforeAfterTable-overlap").css('width','346px');

}*/

</script>
</head>
<body> -->
	<!-- <div id="adjudicationdiv" class="PrintWrapperLandScape"
		style="overflow-y: auto; height: 100%;">
		<div class="PrintWrapperLandScape"> -->

 
 	<div class="PrintWrapperLandScape" >
		<div class="personalDetails no-border">
			
			<span style="position:absolute; right: 0px;">Fomu na 18 & 49</span>
			<p class="type">SHERIA YA VIJIJI NA.5,1999</p>

			<p class="type">
				<strong>FOMU YA UHAKIKI WA MASLAHI KWA MPANGILIO</strong>
			</p>



			<p style="float: left; padding-right: 380px;">MAOMBI</p>
			<p>Jina la Mdhamini/Wadhamini na Sahihi</p>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span4">
						<table class="amendbeforeAfterTable">
							<tr>
								<td style="font-weight:bold;">Jina la Kijiji:<span id="_villageName"
									style="font-weight:normal;" class="attribute-position"> </span></td>

							</tr>
							<tr>
								<td style="font-weight:bold;">Jina la Kitongoji: <span id="_hamletName"
									style="font-weight:normal;" class="attribute-position"></span></td>

							</tr>
							<tr>
								<td style="font-weight:bold;">Namba ya UKA: <span id="_plotID"
									style="font-weight:normal;" class="attribute-position"></span></td>
							</tr>
							<tr>
								<td style="font-weight:bold;">Aina ya Umiliki: <span id="_ownershipType"
									style="font-weight:normal;" class="attribute-position"></span><br />
										</td>

							</tr>

						</table>
					</div>
					<div class="span5">

						<table class="amendbeforeAfterTable border-bottom-none">
							<tr>

								<td style="font-weight:bold;">1. <span id="" style="font-weight:normal;" class="attribute-position"></span></td>
								<td style="font-weight:bold;">4.<span id="" style="font-weight:normal;" class="attribute-position"></span></td>

							</tr>
							<tr>

								<td style="font-weight:bold;">2.<span id="" style="font-weight:normal;" class="attribute-position"></span></td>
			
								<td style="font-weight:bold;" class="border-bottom">5.<span id="" style="font-weight:normal;" class="attribute-position"></span></td>

							</tr>
							<tr>

								<td class="border-right" style="font-weight:bold;">3.<span id=""
									style="font-weight:normal;" class="attribute-position"></span></td>
								<td class="border-right-none"></td>


							</tr>

						</table>
						<table class="amendbeforeAfterTable" style="width: 75%;">
							<tr>
								<td ><strong>Hali ya Mazingira : </strong><span id="_landType"
								></span> 
									 <span id="_landType"
									 > </span><br> <strong>Eneo kwa Ekari : </strong><span
									id="area_id" > </span>
								</td>

							</tr>

						</table>
					</div>
					<div class="span3 pos-relative">

						<table class="amendbeforeAfterTable border-bottom-none">
							<tr>

								<td style="font-weight:bold;">Ukomo wa Miliki: <span id="_ownershipDuration"
									class="attribute-position"></span></td>
							</tr>
							<tr>

								<td style="font-weight:bold;">Tarehe ya Maombi: <span id="_applicationDate"
									class="attribute-position"></span></td>
							</tr>
							<tr>
								<td style="font-weight:bold;">Tarehe ya M/Kijiji: <span id="_villageAssDate"
									class="attribute-position"></span></td>

							</tr>

						</table>

						<table class="amendbeforeAfterTable amendbeforeAfterTable-overlap">
							<tr>
								<td ><span style="font-weight:bold;"> Matumizi ya Ardhi: </span>
									<div class="row-fluid">
										<div class="span6">
											<strong>Ya sasa:</strong><br />
											<div class="left-blank-area">
												<span id="_existingLanduse"></span>
											</div>
										</div>
										<div class="span6">
											<strong>Yaliyopendekezwa:</strong><br />
											<div class="right-blank-area">
												<span id="_proposedUse"></span>
											</div>
										</div>

									</div></td>

							</tr>

						</table>


					</div>



				</div>
			</div>
			<p class="space-top-10">UHAKIKI</p>
			<div id="_adjudicator">
				<table class="amendbeforeAfterTable">
					<tr>
						<th>Jina La Kwanza</th>
						<th>Jina La Pili</th>
						<th>Jina La Ukoo</th>
						<th>Mmiliki</th>
						<th>Msimamizi</th>
						<th>Mlezi</th>
						<th>Jinsia</th>
						<th>Umri</th>
						<th>Ndoa</th>
						<th>Uraia</th>
						<th>Anuani</th>
						<th>Mkazi</th>
						<th>Simu</th>

					</tr>
					<tbody id="_naturalperson">
					</tbody>
				</table>
			</div>

			<div id="_non_natural">
				<table class="amendbeforeAfterTable">
					<tr>
						<th>Jina la Taasisi</th>
						<th>Anwani</th>
						<th>Nambari ya simu</th>
					</tr>

					<tbody id="_nonnaturalperson">

					</tbody>
				</table>
			</div>
			<table class="amendbeforeAfterTable space-top-10">
				<tr>
					<th>Majirani</th>
					<th>Jina</th>
					<th style="width: 140px;">Saini</th>
					<th>Jina la Shahidi (Kamati ya Uamuzi)</th>
					
					<th style="width: 140px;">Saini</th>
					<th style="width: 248px;">Mchoro:</th>
				</tr>
				
			
				<tr>
					<td>Kaskazini</td>
					<td><span id="_northName"></span></td>
					<td></td>
					<td>1.<span id="witness1_id"
						class="attribute-position"></span></td>
				
					<td></td>
					<td rowspan="7" style="position:relative;">
					<div> <img src="resources/images/compass.png" class="map-compass"/></div>
					
						<div id="map1" style="position: relative; top:-32px; " >
						</div>
								
					<div style="position:absolute; bottom:-10px; width:98%;">
					<p class="bottom-separator">
						<strong>Jira: </strong>
					</p>
					<p class="bottom-separator">
						<strong>Mashariki: </strong>&nbsp; <span id="east_coord"></span>
					</p>

					<p>
						<strong>Kaskazini: </strong><span id="noth_coord"></span>
					</p>
					<p class="bottom-separator"></p>
					  
					</div>
							
					</td>
				</tr>
				<tr>
					<td>Kusini</td>
					<td><span id="_southName"></span></td>
					<td></td>
					<td>2.<span id="witness2_id"
						class="attribute-position"></span></td>
					
					<td></td>

				</tr>
				<tr>
					<td>Mashariki</td>
					<td><span id="_eastName"></span></td>
					<td></td>
					<td colspan="2"></td>


				</tr>
				<tr>
					<td>Magharibi</td>
					<td><span id="_westName"></span></td>
					<td class="td-right-border"></td>



				</tr>
				<tr>
					<td colspan="5">Haki ya njia na matumizi mengine :</td>


				</tr>

				<tr>
					<td colspan="5">
				<div id="personwithInterset">
			<table class="amendbeforeAfterTable">
				<tr>
					<th>Mtu/Watu wenye maslahi</th>
					<th>Jina</th>
				</tr>

				<tbody id="_personwithInterset">

				</tbody>
			</table>
		</div>
					<div id="deceasedPerson">
			<table class="amendbeforeAfterTable">
				<tr>
					<th>Marehemu</th>
					<th>Jina</th>
				</tr>

				<tbody id="_deceasedPerson">

				</tbody>
			</table>
		</div>
						

						
					</td>

				</tr>
				<tr>
				<td colspan="5">
				<div class="container-fluid">
			  <div id ="adjudication_personnameCustomDiv"></div>
			  </div>
			  </td>
			  </tr>
				<tr class="pageBreak">
					<td colspan="6">
						<p><strong>Kwa Matumizi ya Ofisi:</strong></p>
						<div class="row-fluid">
							<div class="span12">Maoni ya Halmashauri ya Kijiji
								_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>



						</div>
						<div class="row-fluid">
							<div class="span12">Uamuzi wa Mkutano wa Kijiji
								_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</div>

						</div>
						<div class="row-fluid">
							<div class="span4">Jina la Mwenyekiti: <strong><span id="chairperson"></span></strong>
								</div>
							<div class="span4">Saini _ _ _ _ _ _ _ _ _ _ _ _  </div>
							<div class="span4">Tarehe _ _ _ _ _ _ _ _ _ _ _ _</div>


						</div>
						<div class="row-fluid">
							<div class="span4">Jina la Katibu :<strong><span id="secretary"></span></strong></div>
							<div class="span4">Saini _ _ _ _ _ _ _ _ _ _ _ _  </div>
							<div class="span4">Tarehe _ _ _ _ _ _ _ _ _ _ _ </div>
						</div>

						<div class="row-fluid">
							<div class="span4">Jina la Mhakiki: <strong><span id="trustedInter"></span></strong></div>
							
							<div class="span4">Saini _ _ _ _ _ _ _ _ _ _ _ _  </div>
							<div class="span4">Tarehe _ _ _ _ _ _ _ _ _ _ _ _</div>
						</div>
					</td>
				<!-- 	<td valign="top">
						<p class="bottom-separator" style="font-weight:bold;">Jira:</p>
						<p class="bottom-separator">
							Mashariki: <span id="east_coord"></span>
							
						</p>
						
						<p>
							Kaskazini: <span id="noth_coord"></span>
						</p>
						<p class="bottom-separator">

					</td> -->
				</tr>

			</table>
					<div id="vertexList">
			<div class="vertexAlign">Majira X na Y</div>
			<table class="amendbeforeAfterTable">
			
				<tr>
					<th>S.No.</th>
					<th>Majira X</th>
					<th>Majira Y</th>
				</tr>

				<tbody id="vertexBody">

				</tbody>
			</table>
		</div>
			<div>
				<button id="print-btn" class="btn v-top-20" style="float: right"
					onclick="print_templ();">Print</button>

			</div>

		</div>

	</div>

	<script id="adudicatorDetails_template" type="text/x-jquery-tmpl">
	<tr>                                                                        
		<td>
			${person_gid.institutionName}
		</td>
		<td>
		   ${person_gid.address}
		</td>
		<td>
		   ${person_gid.phoneNumber}
		</td>
		</tr>
		</script>


	<script id="_naturalpersonTemplateSw" type="text/x-jquery-tmpl">
	<tr>                                                                        
		<td>
			${firstName}
		</td>
		<td>
		   ${middleName}
		</td>
		<td>
		   ${lastName}
		</td>
		<td>
 {{if (personSubType.person_type_gid!=3)}} &nbsp; {{/if}}

{{if (personSubType.person_type_gid==3)}} Ndiyo {{/if}}
		</td>
		<td>
{{if (personSubType.person_type_gid!=4)}} &nbsp; {{/if}}

{{if (personSubType.person_type_gid==4)}} Ndiyo {{/if}}

	
</td>
<td>
{{if (personSubType.person_type_gid!=5)}} &nbsp; {{/if}}

{{if (personSubType.person_type_gid==5)}} Ndiyo {{/if}}

		</td>
		<td>
		   {{if gender}}${gender.gender_sw}{{/if}}
		</td>
		<td>
		 {{if age!=0}}${age}{{/if}}
		</td>
		<td>
		  {{if marital_status}}${marital_status.maritalStatus_sw}{{/if}} 
		</td>
		<td>
		   {{if citizenship_id}}${citizenship_id.citizenname_sw}{{/if}} 
		</td>
		<!--<td class="vill_address">
		      
		</td>-->
<td>
&nbsp;
</td>
		<td>
{{if (!resident_of_village)}} Hapana {{/if}}

{{if (resident_of_village)}} Ndio {{/if}}
		</td>
		<td>
		   {{if mobile && mobile!=0 }} ${mobile}  {{/if}}
		</td>
		

	</tr>
</script>

<script id="_naturalpersonTemplateSw_admin" type="text/x-jquery-tmpl">
 <tr>                                                                        
  <td colspan="3">
   ${firstName}
  </td>
  
  <td>
   &nbsp;
  </td>
  <td>
        &nbsp;
  </td>
  <td>
     &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
  <td>
     &nbsp;
  </td>
  <td>
      &nbsp;
  </td>
  <td>
        &nbsp;
  </td>
  <td>
    &nbsp;
  </td>
  <td>
      &nbsp;
  </td>
  

 </tr>
</script>
<script id="_personwithInterestTemp" type="text/x-jquery-tmpl">
 <tr>                                                                        
  <td>
	${number}
  </td>
  
  <td>
  ${name}
  </td>
 </tr>
</script>
<script id="_deceasedPersonTemp" type="text/x-jquery-tmpl">
 <tr>                                                                        
  <td>
	${number}
  </td>
  
  <td>
  ${name}
  </td>
 </tr>
</script>
<script id="vertexTemp" type="text/x-jquery-tmpl">
 <tr>  
 <td>
	${index}
  </td>
                                                                        
  <td>
	${x}
  </td>
  
  <td>
  ${y}
  </td>
 </tr>
</script>

