<script>
    $(function () {
        $("#tabs").tabs();
    });

    $(function () {
        $("#tab-natural").tabs();
    });id="claim_type"

    $(function () {
        $("#tab-nonnatural").tabs();
    });

    $(function () {
        $("#tab-nxtTokin").tabs();
    });

    $(function () {
        $("#tab-tenure").tabs();
    });

    $(function () {
        $("#tab-multimedia").tabs();
    });
    $(function () {
        $("#tab-deceased").tabs();
    });

    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
    $(function(){
        $("#neighbor_north,#neighbor_east,#neighbor_west,#neighbor_south,#tenureclass_id,#tenure_type,#tenureDuration,#existing_use,#proposed_use").on('change',function () {
            $(this).addClass('addBg');
            $("#parcelsavebutton").prop("disabled", false).show();
           
        });
    })
</script>
	


<div class="container-fluid">

    <div id="landRecordsFormdiv" style="visibility: hidden">

        <div class="cmxform">


            <div class="tab-pane " id="land-records">
                <div class="project-details">
                    <div class="project-details-label">
                       
                    </div>
                </div>

                <div class="gray-panel">
                    <form id="landrecordsform" action="" onsubmit="return false;">
                        <table class="filter-details"  class="no-sort">
                            <tr>
                              
								<td>
                                    <label>Community </label>
                                    <select name="community_id" id="community_id" class="input-medium">
                                    </select>
                                </td>
								
                                 <td>
                                    <label>Transaction Id</label> 
                                    <input type="text" name="transaction_id" id="transaction_id" onkeypress="return checkNumber(event)" value="" class="input-medium">
                                </td>
								
								<td>
                                    <label>Parcel ID</label>
                                    <input type="text" name="parce_id" id="parce_id" value="" onkeypress="return checkNumber(event)" class="input-medium">
                                </td>
								
                               
							
                                <td>
                                    <button class="btn1 v-top-18" onclick="javascript:search();">Search</button>
                                    <button class="btn v-top-24" onclick="clearSearch();">Clear</button>
                                </td>
                            </tr>
                        </table>

                    </form>
                </div>

                <div class="">
				
				<form id="updatebyWorkflow" class="cmxform" action="" onsubmit="return false;">
							    <input type="hidden" name="type" id="type" value="">
				<div id="vtab" class="vtab">

							<ul id="workflowDiv">
								<li class="login selected "><span class="langchange" key="Workflow_Summary">Workflow Summary</span>&nbsp;</li>
									



								<div id="workflow-accordion" style="text-align: left;" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons" role="tablist">
								  <h3>
										<a href="#"><span id="new" class="langchange" key="New">Workflow Stage </span></a>
									</h3>

									<div id="newBody" title=""
										style="min-height: 175px; overflow: hidden">
										<ul>
										<li>
                                  <input type="checkbox" id="select_all"  /> <span class="langchange" key="Select_All">Select All</span></li></ul>
										<ul id="newtbl" class="tblStyle" cellpadding="0"
											cellspacing="0">

										</ul>

                            

									</div>
									

									<h3>
										<a href="#"><span id="existing" class="langchange"
											key="Existing">Transaction Type</span></a>
									</h3>

									<div id="newBody" title=""
										style="min-height: 175px; overflow: hidden">
										<ul>
										<li>
										<input type="checkbox" id="select_all_tt"  /> <span class="langchange" key="select_all_tt">Select All</span></li></ul>

										<ul id="newtb2" class="tblStyle" cellpadding="0"
											cellspacing="0">

										</ul>
                                


									</div>
									
									
									<h3>
										<a href="#"><span id="existing" class="langchange"
											key="Existing">Application Status</span></a>
									</h3>

									<div id="newBody" title=""
										style="min-height: 175px; overflow: hidden">
										<ul>
										<li>
										 <input type="checkbox" id="select_all_as"  /> <span class="langchange" key="select_all_as">Select All</span></li></ul>

										<ul id="newtb3" class="tblStyle" cellpadding="0"
											cellspacing="0">

										</ul>


									</div>
									
  								
								
									

								</div>




							
								
                            <button class="btn1 langchange" style="margin-top: 5px; margin-right: 5px; float:right " onclick="javascript:clearFilter();" key="Filter">Clear</button>   
	                        <button class="btn1 langchange" style="margin-top: 5px; margin-right: 5px; float:right"  onclick="javascript:updatespatialwork();" key="Filter">Filter</button>
                            
							</ul>







							<div>


					<table class="tablesorter" id="landRecordsTable" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="no-sort">Transaction Id</th>
                                <th class="no-sort">Parcel No</th>
                                <th class="no-sort">Transaction  Type</th>
                                <th class="no-sort">Land Occupant</th>
								<th class="no-sort">Workflow Stage</th>
								<th class="no-sort">Occupancy/Tenure Type</th>
								<th class="no-sort">
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody id="landRecordsRowData">
                        </tbody>

                         <tfoot>
                            <tr class="tblFooter" id="landrecords_pagerDiv">
                                <td colspan="9">
                                    <div id="spatialunitDiv">
                                        <a href="javascript:previousRecords();"><img
                                                class="img-prev" src="resources/images/studio/previous.png"
                                                title="Previous" /></a> 
                                        <input type="text" readonly="readonly"
                                               name="records_from" id="records_from" value=""
                                               class="input-medium"> To <input type="text"
                                               name="records_to" id="records_to" value=""
                                               class="input-medium" readonly="readonly"> Of <input
                                               type="text" name="records_all" id="records_all" value=""
                                               class="input-medium" readonly="readonly"><a
                                               href="javascript:nextRecords();">
                                            <img class="img-next"
                                                 src="resources/images/studio/next.png" title="Next">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tfoot> 
						
						
							
                    </table>

							</div>
						</div>
				</form>
				
                    
		

                    <script id="landRecordsAttrTemplate" type="text/x-jquery-tmpl">
					
					
                        <tr id='${landid}'>
						
                        <td>
                         ${transactionid}
                        </td>
                        <td>
                        ${landnostrwithzero}
                        </td> 
                        <td>
                        ${claimtype_en}
                                              
                        </td>                     
                        
                        <td>
						${firstname} ${lastname}
						</td>     						
                       
                       
                         <td>
						${workflowstatus}
						</td>      						
                       
                         <td>
						${shareType}
						</td>      						
                       


                        <td>
						
						 <div class="single-drop-down"> 
						 <div class="topnav"> <a href="#" onclick="Actionfill(${landid},${workflowstatusid},${transactionid}, '${landnostrwithzero}');" class="signin"><span key="Action" class="langchange">Action</span></a> 
						 <div class="containerDiv" id='${landid}_land' > 
						 </div> 
						 </div>   
						 </div>
			
                        </td>
                        </tr>
                    </script>
                </div>
            </div>

            <div id="attribute-dialog-form" title="Update Hamlet Name" style="display: none;">
                <form class="cmxform" id="addAttributeformID" action="" onsubmit="return false;">
                    <fieldset>
                        <input type="hidden" name="primeryky" id="primeryky" value="">
                        <label style="display: block" style="font-weight:bold">Hamlet Name</label>
                        <select name="cbxHamlets" id="cbxHamlets"></select>
                    </fieldset>
                </form>
            </div>

            <div id="adjudication-dialog-form" title="Language Preference" style="display: none;">
                <form class="cmxform" id="adjudicationformID" action="" onsubmit="return false;">
                    <fieldset>
                        <p>
                            <label >Please select a language</label>
                        </p>
                        <div id="radioLang">
                            <input class="selectlang" name="lang" type="radio" value="En" id="pre-english" />
                            <label for="pre-english">English</label> 
                            <input class="selectlang" name="lang" type="radio" value="Sw" id="pre-swahili" />
                            <label for="pre-swahili">Swahili</label>
                        </div>
                    </fieldset>
                </form>
            </div>
			
			
			<div id="approveInfo-dialog-form" title="WorkFlow" style="display: none;">
                <form class="cmxform" id="aworkflowformID" action="" onsubmit="return false;">
                    <div id="approveInfoDiv"></div>
					<fieldset>
							<label> <span class="langchange" style="color:black" key="Comments">Comments</span> <span
								id="commentOption"></span></label>
							<textarea name="commentsStatusWorkflow" id="commentsStatusWorkflow"
								style="width: 96%; height: 63px;"></textarea>
							
						</fieldset>
                </form>
            </div>
			
			

            <div id="editattribute-dialog-form" title="Edit Attribute" style="display: none;">

                <form class="cmxform" id="editAttributeformID" action="" onsubmit="return false;">
                    <input type="hidden" name="general_length" id="general_length" value=""> 

                    <div id="tabs">
                        <ul>
                            <li><a href="#tabGeneralInfo">General Info</a></li>
                            <li id="liPoi" onclick="issavedisabled();"><a class="linkliPoi" href="#tabs-2c" >Person</a></li>
                            <li id="liDisputes" onclick="issavedisabled();"><a class="linkliDisputes" href="#tabDisputes">Disputes</a></li>
                            <li id="liMultimedia" onclick="issavedisabled();"><a class="linkliMultimedia" href="#tabs-4">Multimedia</a></li>
                        </ul>

                        <div id="tabGeneralInfo">
                            <div class="tab-pane landrecords22" id="land-record">
                                <div style="margin: 0 10px;">
                                    <div class="project-details in">
                                        <div class="project-details-label">
                                            <div class="row-fluid">
                                                <div class="span3 project-details-block">
                                                    <span class="deatails-label" style="color: #0088cc">Parcel ID: </span>
                                                    <span class="deatails-label-value" id="spatialid"></span>
                                                    <input type="hidden" name="primary" id="primary" value="">
                                                </div>
                                                <div class="span3 project-details-block">
                                                    <span class="deatails-label" style="color: #0088cc">Transaction Id	: </span> <span class="deatails-label-value" id="claimUka"></span>
                                                </div>
                                                <div class="span3 project-details-block">
                                                    <span class="deatails-label" style="color: #0088cc">Claim Type: </span> <span class="deatails-label-value" id="claimType"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <table style="width: 100%" id="tableGeneralAttributes" class="landrecords22 ">
                                        <tr id="rowClaimNumber">
                                            <td>
                                                <label >Claim Number</label>
                                                <input type="text" name="claimNumber" id="claimNumber" value="" class="text ui-widget-content ui-corner-all" readonly>
                                            </td>
                                            <td>
                                                <label >Claim Date </label> 
                                                <input type="text" name="survey_date" id="survey_date" value="" class="text ui-widget-content ui-corner-all" readonly>
                                            </td>
                                            <td>
                                                <label >Claim Type</label> 
												<select name="claimStatus" id="claimStatus" class="gendisable" readonly></select>
                                            </td>
											<td>
                                                <label >Land Type</label> 
                                                <select name="land_type" id="land_type" class="gendisable"></select>
                                            </td>
                                        </tr>
										
									
                                        <tr>
                                           
										    <td>
                                                <label>Neighbour North</label>
                                                <input type="text" name="neighbor_north" id="neighbor_north" class="text ui-widget-content ui-corner-all justread">
                                            </td>
											
                                            <td>
                                                <label>Neighbour South</label>
                                                <input type="text" name="neighbor_south" id="neighbor_south" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                            <td>
                                                <label>Neighbour East</label>
                                                <input type="text" name="neighbor_east" id="neighbor_east" class="text ui-widget-content ui-corner-all justread">
                                            </td>
											 <td>
                                                <label>Neighbour West</label>
                                                <input type="text" name="neighbor_west" id="neighbor_west" class="text ui-widget-content ui-corner-all justread">
                                            </td>
											
											
                                        </tr>
                                       
                                        <tr>
                                            <td colspan="4">
                                                <div id="customgeneral-div"></div>
                                            </td>
                                        </tr>
										 <tr>
										 
										 
											
                                            <td>
                                                <label>Type of Right</label>
                                                <select name="tenureclass_id" id="tenureclass_id"></select>
                                            </td>
                                            <td>
                                                <label>Tenure Type</label> 
                                                <select name="tenure_type" id="tenure_type" class="read-tenure"></select> 
                                            </td>
											<td>
                                                <label>Length of Occupancy (years)</label> 
                                                <input type="text" name="tenureDuration" id="tenureDuration" class="text ui-widget-content ui-corner-all read-tenure">
                                            </td>
											
											
                                        </tr>
										<tr>
                                            
                                            <td>
                                                <label >Existing Use</label> 
                                                <select name="existing_use" id="existing_use" class="gendisable"></select>
                                            </td>
                                             <td>
                                                <label >Proposed Use</label> 
                                                <select name="proposed_use" id="proposed_use" class="gendisable"></select>
												
                                            </td> 
											
											
                                        </tr>
											
											
                                    </table>

                                    <div>
                                        <!-- <button id="parcelsavebutton" class="btn hideNew" onclick="javascript:updateattributesGen();">
                                          Save
                                        </button> -->
                                    </div>
                                </div>
								<!-- Tenure info -->
								 <div style="margin: 0 10px;">
							
								 </div>
								
                            </div>
                        </div>

                      
                        <div id="tabs-2c">
						<div class="row-fluid">
						<div>Person(Owner)</div>
                                <div class="hidenatTable">
                                                                      
                                    <div id="personsEditingGrid1"></div>
                                    
                                    
                                    <div>
                                    <button id="addPersonbutton" onclick="javascript:addnewNaturalperson();">
                                          AddPerson
                                        </button>
                                        </div>
                                    </div>
                       </div>
							
							<div class="row-fluid">
							<div>Non Natural Person(Owner)</div>
                                  <div id="personsEditingGrid2"></div>
                            </div>
							
						<div>Person of interest</div>
                            <div class="row-fluid ">
                            <div id="personsEditingGrid"></div>

                            </div>
							 <div class="row-fluid ">
						
                            </div>
                        </div>

						<div id="tabDisputes">
							<div class="row-fluid ">
							
								<div>Disputes</div>
								<div class="hidenatTable">

									<div id="DisputesGrid"></div>
								</div>

								<div>Disputed Person</div>
								<div class="hidenatTable">

									<div id="DisputesPersonGrid"></div>
								</div>


							</div>
						</div>



						<div id="tabs-4">


							<div class="row-fluid">
							

								<div class="hidemulTable">
								<div>Person</div>
									<table id="multimediaTable" class="table table-bordered">
										<thead>
											<tr>
												<th>First Name</th>
												<th>Middle Name</th>
												<th>Last name</th>
												<th>Address</th>
												<th>Dob</th>
												<th>View</th>
												<th>Browse</th>
												<th>Delete</th>
												
											</tr>
										</thead>
										<tbody id="multimediaRowData">

										</tbody>
									</table>

								</div>
							</div>
						</div>


					</div>
                </form>
            </div>

            <div id="naturalperson-dialog-form" title="Natural Person" style="display: none;">
                <fieldset>
                    <div id="tab-natural">
                        <ul>
                            <li><a href="#tabs-1">Main</a></li>
                            <li><a href="#tabPersonPhoto">Photo</a></li>
                           <!--  <li><a href="#tabs-2">Custom</a></li> -->
                        </ul>

                        <form class="cmxform" id="editNaturalPersonformID" action="" onsubmit="return false;">
                            <div id="tabs-1" style="margin: 10px;">
                                <div class="tab-pane landrecords22" id="personDiv">
                                    <input type="hidden" name="natural_usin" id="natural_usin">
                                    <input type="hidden" name="natual_length" id="natual_length">
                                    <input type="hidden" name="projectname_key" id="projectname_key">
                                    <input type="hidden" name="natural_key" id="natural_key">
                                    <input type="hidden" name="personDisputeId" id="personDisputeId">
                                    <input type="hidden" name="parentNonNaturalId" id="parentNonNaturalId" value="0">

                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <label>First Name</label>
                                                <input type="text" name="fname" id="fname" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                            <td>
                                                <label>Middle Name</label> 
                                                <input type="text" name="mname" id="mname" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                            <td>
                                                <label>Last Name</label>
                                                <input type="text" name="lname" id="lname" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label id="subtypehide">Address</label>
											    <input type="text" name="address" id="address" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                            <td>
                                                <label>ID type</label>
                                                <select name="idType" class="justdisable" id="idType"></select>
                                            </td>
                                            <td>
                                                <label>ID number</label>
                                                <input type="text" name="idNumber" id="idNumber" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                        </tr>

                                        <tr>
                                                        <td>
                                                            <label>Gender</label>
                                                            <select name="gender" class="justdisable" style="width:110px" id="gender"></select>
                                                        </td>
                                             

                                           
                                            <td>
                                                <label>Date of birth</label>
                                                <input type="text" name="dob" id="dob" class="text ui-widget-content ui-corner-all justread">
                                            </td>
											
											<td>
                                                <label>Marital Status</label>
                                                <select name="marital_status" id="marital_status" class="justdisable"></select>
                                            </td>
											
                                        </tr>

                                        <tr>
                                          
                                            <td>
                                                <label>Mobile Number</label>
                                                <input type="text" name="mobile_natural" id="mobile_natural" class="text ui-widget-content ui-corner-all justread">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="tabPersonPhoto" style="margin: 10px;">
                                <img id="imgPersonPhoto" src="" alt="Photo" width="200" height="200" />
                            </div>
                            <!-- <div id="tabs-2" style="margin: 10px;">
                                <div class="tab-pane landrecords22">
                                    <div id="customnatural-div"></div>
                                    <div id="customnewnatural-div"></div>
                                </div>
                            </div> -->
                        </form>
                    </div>
                </fieldset>
            </div>


            <div id="nxtTokin-dialog-form" title="Person of Interest" style="display: none;">
                <fieldset>
                    <div id="tab-nxtTokin">
                        <form class="cmxform" id="editnxtTokinformID" action="" onsubmit="return false;">
                            <div class="tab-pane landrecords22" id="poiDiv">
                                <input type="hidden" name="usin_kin" id="usin_kin">
                                <input type="hidden" name="id_kin" id="id_kin">
                                <input type="hidden" name="name_kin" id="name_kin" class="text ui-widget-content ui-corner-all justread">

                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                            <label>First Name</label>
                                            <input type="text" name="fname_kin" id="fname_kin" class="justread text ui-widget-content ui-corner-all">
                                        </td>
                                        <td>
                                            <label>Middle Name</label>
                                            <input type="text" name="mname_kin" id="mname_kin" class="justread text ui-widget-content ui-corner-all">
                                        </td>
                                        <td>
                                            <label>Last Name</label>
                                            <input type="text" name="lname_kin" id="lname_kin" class="justread text ui-widget-content ui-corner-all">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label id="subtypehide">Relationship type</label>
                                            <select name="poiRelType" id="poiRelType" class="justread"></select>
                                        </td>
                                        <td>
                                            <label>Gender</label>
                                            <select name="poiGender" id="poiGender" class="justread"></select>
                                        </td>
                                        <td>
                                            <label>Date of birth</label>
                                            <input type="text" name="poiDob" id="poiDob" class="justread">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>

            <div id="non_naturalperson-dialog-form" title="Non Natural Person" style="display: none;">
                <form class="cmxform" id="editNonNaturalPersonformID" action="" onsubmit="return false;">
                    <fieldset>
                        <div id="tab-nonnatural">
                            <ul>
                                <li><a href="#tabs-3">Main</a></li>
                                <!-- <li><a href="#tabs-4">Custom</a></li> -->
                            </ul>
                            <div id="tabs-3" style="margin: 10px;">
                                <div class="tab-pane landrecords22" id="nonPersonDiv">
                                    <input type="hidden" name="projectname_key2" id="projectname_key2">
                                    <input type="hidden" name="nonnatual_length" id="nonnatual_length">
                                    <input type="hidden" name="non_natural_key" id="non_natural_key">
                                    <input type="hidden" name="poc_id" id="poc_id">
                                    <input type="hidden" name="mobileGroupId" id="mobileGroupId">
                                    <input type="hidden" name="nonnatural_usin" id="nonnatural_usin">

                                    <label>Name</label>
                                    <input type="text" name="institution" id="institution" class="text ui-widget-content ui-corner-all read-non">

                                    <label>Address</label>
                                    <input type="text" name="address" id="address" class="text ui-widget-content ui-corner-all read-non">

                                    <label>Phone Number</label>
                                    <input type="text" name="mobile_no" id="mobile_no" class="text ui-widget-content ui-corner-all read-non">

                                    <label>Type</label>
                                    <select name="group_type" id="group_type" class="disablenon"></select>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>

        

            <div id="deceased-dialog-form" title="Deceased Person" style="display: none;">
                <form class="cmxform landrecords22" id="editdeceasedformID" action="" onsubmit="return false;">
                    <fieldset>
                        <div id="tab-deceased">
                            <input type="hidden" name="deceased_key" id="deceased_key">
                            <input type="hidden" name="usin_deceased" id="usin_deceased">
                            <input type="hidden" name="deceased_length" id="deceased_length">

                            <label>First Name </label>
                            <input type="text" name="d_firstname" id="d_firstname" class="text ui-widget-content ui-corner-all justread">

                            <label>Middle Name </label>
                            <input type="text" name="d_middlename" id="d_middlename" class="text ui-widget-content ui-corner-all justread">

                            <label>Last Name</label>
                            <input type="text" name="d_lastname" id="d_lastname" class="text ui-widget-content ui-corner-all justread">
                        </div>
                    </fieldset>
                </form>
            </div>

            <div id="deletednat-dialog-form" title="Add Natural Person" style="display: none;">
                <fieldset>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last name</th>
                                <th>Gender</th>
                                <th>Person Type</th>
                                <th>Owner</th>
                                <th>Age</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody id="deletedNaturalpersonRowData">

                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div id="share-dialog-form" title="Share" style="display: none;">
                <form class="cmxform landrecords22" id="shareformID" action="" onsubmit="return false;">
                    <fieldset>
                        <div id="customShareDiv"></div>
                    </fieldset>
                </form>
            </div>

            <div id="upload-natural-Image" title="Web Upload" style="display: none;">
                <form class="cmxform landrecords22" id="uploadNaturalImage" action="" onsubmit="return false;">
                    <fieldset>
                        <div id="naturalImage-div"></div>
                        <br> <strong><span id="check_img"></span></strong> <br>

                        <label >Document Name </label> 
                        <input type="text" name="document_natural" id="document_natural" class="text ui-widget-content ui-corner-all" />

                        <label class="searchLbl" style="margin-top: -3px; margin-right: 5px;">Select File:</label>
                        <input name="natural_image" id="natural_image" type="file" /> 
                        <label style="color: #0088cc">Eg:-.jpeg ,.png</label> <br>
                    </fieldset>
                </form>
            </div>

            <div id="deletednon-dialog-form" title="Add Non Natural Person" style="display: none;">
                <fieldset>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Institution Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody id="deletedNonNaturalpersonRowData">

                        </tbody>
                    </table>
                </fieldset>
            </div>

			<div id="commentsDialog" title="Workflow Comments History" class="">
		<fieldset>
			<table class="amendbeforeAfterTable" style="display: none;"
				id="commentsTable">
				<thead>
					<tr>
						<th class="langchange">Username</th>
						<th class="langchange">Modification
							Date</th>
						<th class="langchange">Application Stage</th>
						<th class="langchange">Workflow Stage</th>
						<th class="langchange">Comments</th>
					</tr>
				</thead>
				<tbody id="commentsHistoryTableBody">
				</tbody>
			</table>
		</fieldset>
	</div>
	<script id="commentstemplate" type="text/x-jquery-tmpl">
 <tr> 
<td>
	${user.username}
  </td>                                                                       
  <td>
${createddate}
	
  </td>

<td>
			{{if status}}  
			${status.applicationstatus_en}
			{{/if}}
			
	
</td>
  
  <td>
			{{if workflow}}  
			${workflow.workflowEn}
			{{/if}}

  </td>

<td>
${comments}
</td>
 </tr>
</script>
            <script id="naturalpersonTemplate" type="text/x-jquery-tmpl">
                <tr>
                <td>
                ${laParty.firstname}
                </td>   
                <td>
                ${laParty.lastname}
                </td>        

                <td>
    			 {{if (laParty.genderid==1)}} Male {{/if}}
                {{if (laParty.genderid==2)}} Female {{/if}}
				 {{if (laParty.genderid==2)}} Other {{/if}}
    
                </td>

                <td>
                {{if (laPartygroupPersontype)}}  ${laPartygroupPersontype.persontypeEn} {{/if}}

                </td>    
                
              
                <td align="center">
                <a href="javascript:editNaturalData(${laParty.partyid},false);"><img src="resources/images/studio/edit.png" title="Edit" /></a>
                </td>
                <td align="center">
                <a href="javascript:deleteNatural('${laParty.partyid}','${laParty.firstname}' );"><img src="resources/images/studio/delete.png"
                title="Delete" /></a>
                </td>
                <td align="center">
                <a href="javascript:editNaturalData(${laParty.partyid},true);"><img src="resources/images/studio/doc_view.png" title="View" /></a>
                </td>	

                </td>
                <td align="center">
                <a href="javascript:naturalPersonImage('${laParty.partyid}',0);"><img src="resources/images/studio/uploadImage.png" title="Upload Image" /></a>
                </td>	  
                <td align="center">
                <a href="javascript:naturalPersonDeleteImage('${laParty.partyid}','${laParty.firstname}');"><img src="resources/images/studio/deleteImage.png" title="Delete Image" /></a>
                </td>							
                </tr>
            </script>

            

            <script id="non_naturalpersonTemplate" type="text/x-jquery-tmpl">
                <tr>

                <td>
                ${laParty.organizationname}
                </td>
                <td>
                 {{if (laPartygroupPersontype)}}  ${laPartygroupPersontype.persontypeEn} {{/if}}

                </td>
                
                <td>
                ${laParty.contactno}
                </td>  
                <td align="center">
                <a href="javascript:editNonNatural('${laParty.partyid}');"><img src="resources/images/studio/edit.png" title="Edit" /></a>
                </td>
                <td align="center">
                <a href="javascript:deleteNonNatural('${laParty.partyid}','${laParty.organizationname}' );"><img src="resources/images/studio/delete.png" title="Delete" /></a>
                </td>
				 <td align="center">
                <a href="javascript:editNaturalData(${laParty.partyid},true);"><img src="resources/images/studio/doc_view.png" title="View" /></a>
                </td>
				
                </td>
                <td align="center">
                <a href="javascript:NonnaturalPersonImage('${laParty.partyid}',0);"><img src="resources/images/studio/uploadImage.png" title="Upload Image" /></a>
                </td>	  
                <td align="center">
                <a href="javascript:NonnaturalPersonDeleteImage('${laParty.partyid}','${laParty.firstname}');"><img src="resources/images/studio/deleteImage.png" title="Delete Image" /></a>
                </td>	
               
                </tr>
            </script>

            <script id="multimediaTemplate" type="text/x-jquery-tmpl">
                <tr>
                <td>
                {{if (person_gid && person_gid > 0)}} <img src="resources/images/viewer/user.png"> {{/if}}
                {{if (documentType)}}  ${documentType.name} {{/if}}
                </td>
                <td>
                ${entity_name}
                </td>
                <td>
                ${recordation}
                </td>    

                <td>
                ${comments}
                </td>   

                <td align="center">
                <a href="javascript:editMultimedia(${gid},${usin},true);"><img src="resources/images/studio/edit.png" title="Edit" /></a>
                </td>
                <td align="center">
                <a href="javascript:deleteMultimedia('${gid}','${scanedSourceDoc}' );"><img src="resources/images/studio/delete.png" title="Delete"/></a>
                </td>	 
                <td align="center">
                <a href="javascript:viewMultimedia('${gid}');"><img src="resources/images/studio/document-image-view.png" title="View Document" /></a>
                </td>	
                <td align="center">
                <a href="javascript:editMultimedia(${gid},${usin},true);"><img src="resources/images/studio/doc_view.png" title="View" /></a>
                </td>			
                </tr>
            </script>
            
   
            
             <script id="naturalpersonmediaTemplate_add" type="text/x-jquery-tmpl">
                <tr>
                <td>
                ${firstname}
                </td>
				<td>
                ${middlename}
                </td>    
                <td>
                ${lastname}
                </td>  
 				<td>
                ${address}
                </td> 
				<td>
                ${dateofbirth}
                </td>       

                <td align="center" >
               <a href="javascript:viewMultimediaByTransid('${partyid}');"><img src="resources/images/studio/document-image-view.png" title="View Document" /></a>
                </td>
				<td class="project_cell_adjust styleForm">		
				<input name="file2"  type="file" id="mediafileUpload${partyid}" />

						<button value="Submit" onclick="uploadMediaFile('${partyid}');">Upload</button>
						
				</td >
				<td>		
				<button value="Submit" onclick="deleteMediaFile('${partyid}');">Delete</button>		
				</td >
				

                </tr>
            </script>

            <script id="naturalpersonTemplate_add" type="text/x-jquery-tmpl">
                <tr>
                <td>
                ${firstName}
                </td>   
                <td>
                ${lastName}
                </td>        
                <td>
                {{if gender}}  ${gender.gender}{{/if}}
                </td>
                <td>
                {{if (personSubType)}}  ${personSubType.personType} {{/if}}
                </td>    
                <td>
                {{if (owner==true)}} Yes {{/if}}
                {{if (owner==false)}} No {{/if}}
                </td>
                <td>
                ${age}
                </td> 

                <td align="center" >
                <a href="javascript:addExistingPerson(${person_gid});">
                <img src="resources/images/studio/add.png" title="Add Person" />
                </a>
                </td>

                </tr>
            </script>

            <script id="nonnaturalpersonTemplate_add" type="text/x-jquery-tmpl">
                <tr>
                <td>
                ${person_gid.institutionName}
                </td>           
                <td>
                ${person_gid.address}
                </td>
                <td>
                ${person_gid.phoneNumber}
                </td>  
                <td align="center" >
                <a href="javascript:addDeletedNonNatural('${person_gid.person_gid}');"><img src="resources/images/studio/add.png" title="Add Person" /></a>
                </td>

                </tr>
            </script>

            <script id="nxtTokinTemplate" type="text/x-jquery-tmpl">
                <tr>
                <td>
                ${firstName}
                </td> 
               
			   <td>
                ${middleName}
                </td> 
				
				<td>
                ${lastName}
                </td> 
				
				<td>
                ${lastName}
                </td> 
				
				<td>
                ${lastName}
                </td> 
				
				<td>
                ${lastName}
                </td> 

				
                <td align="center">
                <a href="javascript:editnxtTokin('${id}');"><img src="resources/images/studio/edit.png" title="Edit" /></a>
                </td>
                <td align="center">
                <a href="javascript:deletenxtTokin('${id}','${firstName}');"><img src="resources/images/studio/delete.png"
                title="Delete" /></a>
                </td>
                <td align="center">
                <a href="javascript:editnxtTokin('${id}');"><img src="resources/images/studio/doc_view.png" title="View" /></a>
                </td>	
                </tr>
            </script>

            <script id="deceasedTemplate" type="text/x-jquery-tmpl">
                <tr>
                <td>
                ${firstname}
                </td>    
                <td>
                ${middlename}
                </td> 
                <td>
                ${lastname}
                </td>        

				    

                <td align="center">
                <a href="javascript:editDeceasedPerson('${partyid}');"><img src="resources/images/studio/edit.png" title="Edit" /></a>
                </td>
                <td align="center">
                <a href="javascript:deleteDeceased('${partyid}','${firstname}');"><img src="resources/images/studio/delete.png"
                title="Delete" /></a>
                </td>
                <td align="center">
                <a href="javascript:editDeceasedPerson('${partyid}');"><img src="resources/images/studio/doc_view.png" title="View" /></a>
                </td>	
                </tr>
            </script>
            
            	<script id="workFlowTemplate" type="text/x-jquery-tmpl">
                       <li ><input type="checkbox" id="${workflowid}" name="workflow" value="${workflowid}" class="roleCheckbox"/>${workflowEn}</li>
               </script>
	
	            	<script id="TransactionTemplate" type="text/x-jquery-tmpl">
                       <li ><input type="checkbox" id="${code}" name="claimType" value="${code}" class="roleCheckboxTrans"/>${name}</li>
               </script>

			   
			    <script id="AppstatusTemplate" type="text/x-jquery-tmpl">
                       <li ><input type="checkbox" id="${workflowStatusId}" name="statusType" value="${workflowStatusId}" class="roleCheckboxStatus"/>${workflowStatus}</li>
               </script>

			   
			   
	
	<script type="text/javascript">
		$(document).ready(function() {

			$('#select_all').on('click', function() {
				if ($(this).is(':checked')) {
					$('.roleCheckbox').each(function() {
						this.checked = true;
					});
				} else {
					$('.roleCheckbox').each(function() {
						this.checked = false;
					});
				}
			})
			
			
			$('#select_all_tt').on('click', function() {
				if ($(this).is(':checked')) {
					$('.roleCheckboxTrans').each(function() {
						this.checked = true;
					});
				} else {
					$('.roleCheckboxTrans').each(function() {
						this.checked = false;
					});
				}
			})
			
			
			
			$('#select_all_as').on('click', function() {
				if ($(this).is(':checked')) {
					$('.roleCheckboxStatus').each(function() {
						this.checked = true;
					});
				} else {
					$('.roleCheckboxStatus').each(function() {
						this.checked = false;
					});
				}
			})

		});
	</script>

	


            <script type="text/javascript">
                var specialKeys = new Array();
                specialKeys.push(8); //Backspace
                function IsNumeric(e) {
                    var keyCode = e.which ? e.which : e.keyCode
                    var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
                    document.getElementById("error").style.display = ret ? "none" : "inline";
                    return ret;
                }
            </script>
        </div>
    </div>
    <div id="dialog-confirm" title="Validate and Update Attributes">
        <p id="validationCheck" style="display: none">
            <span class="ui-icon ui-icon-alert"
                  style="float: left; margin: 0 7px 20px 0;"></span>Are you sure you
            want to update the attributes?
        </p>
    </div>
</div>

