<div id="layerSwitcherContent" class="dialog-v">

		<!--start:heading-->
                <div class="head_layerm">
                    
                </div>            
         <!--end:heading-->
		
		<table id="layermanagerBody" cellspacing="0" cellpadding="0"  class="tablelayer_layerm">
						
		</table>


	<script id="layermanagerTemplate" type="text/x-jquery-tmpl">
        <tbody id="overlaysBody">
			<tr>
				<th id="overlays" class="rowhead" > Overlays
				
				
				</th>
				
				<th class="rowhead">
				<span class="layer_legent_check">
					<input type="checkbox" id="grpVisibility__overlays" name="grpVisibility__overlays" 
					value="overlays" onClick="manageLyrGrp(this);" /> 
				</span>
				</th>
			</tr>
			
			<tr>
				<td   width="100%" class=" rowcolor" colspan="2">
					<table width="100%">

						<tr id="tr-cosmetic">
							<td id='Cosmetic' width="100%">
								<table width="100%" cellspacing="1" cellpadding="1">
									<tr>
										<td width="71%" class="leftshift" id="cosmetic">Cosmetic</td> 
										<td class="layerwidth_cross">&nbsp;</td>
										<td>
														 <div class="slider-c"></div>
										</td>
										
										<td align="center" class="layer-td-one">	
										<input type="checkbox" id="Visibility__Cosmetic" name="Visibility" class="overlays"
										value="Cosmetic" checked onClick="manageLayer(this);"/> 
										</td>
										
									</tr>
								</table>
							</td>
							
							
						</tr>
					</table>
				</td>
			</tr>
			
		</tbody>
        
                <tbody id="gfwBody">
			<tr>
				<th id="gfw" class="rowhead" > GFW </th>
				
				<th class="rowhead">
				<span class="layer_legent_check">
					<input type="checkbox" id="grpVisibility__gfw" name="grpVisibility__gfw" 
					value="gfw" onClick="manageLyrGrp(this);" /> 
				</span>
				</th>
			</tr>
			
			<tr>
				<td   width="100%" class=" rowcolor" colspan="2">
					<table width="100%">
						<tr id="tr-gfw">
							<td id='td-gfw' width="100%">
								<table width="100%" cellspacing="1" cellpadding="1">
									<tr>
										<td width="71%" class="leftshift" id="glad">GLAD</td> 
										<td class="layerwidth_cross">&nbsp;</td>
										<td>
										  <div class="slider-c"></div>
										</td>
										
										<td align="center" class="layer-td-one">	
										<input type="checkbox" id="Visibility__glad" name="Visibility" class="overlays"
										value="glad" checked onClick="manageLayer(this);"/> 
										</td>
										
									</tr>
                                                                        <tr>
										<td width="71%" class="leftshift" id="forestloss">Forest Loss</td> 
										<td class="layerwidth_cross">&nbsp;</td>
										<td>
										  <div class="slider-c"></div>
										</td>
										
										<td align="center" class="layer-td-one">	
										<input type="checkbox" id="Visibility__forestloss" name="Visibility" class="overlays"
										value="forestloss" checked onClick="manageLayer(this);"/> 
										</td>
										
									</tr>
								</table>
							</td>
							
							
						</tr>
					</table>
				</td>
			</tr>
			
		</tbody>
        
		{{each(i,layergroupList) $item.projectLayergroup}}  
		<tbody>
			
			<tr>
				<th id="${layergroupList.layergroupBean.name}" class="rowhead" > ${layergroupList.layergroupBean.alias}
					
					</th>
					
					<th class="rowhead">
					<span class="layer_legent_check">
					<input type="checkbox" id="grpVisibility__${layergroupList.layergroupBean.name}" 
					name="grpVisibility__${layergroupList.layergroupBean.name}" 
					value="${layergroupList.layergroupBean.name}" checked onClick="manageLyrGrp(this);" /> 
					</span>
					
					</th>
			</tr>
		
         
		 {{each(j,layerList) layergroupList.layergroupBean.layerLayergroups}}	
		 {{if (layerList.layers)}} 	
						{{if (layerList.layers.displayinlayermanager)}} 	
						<tr>
						<td  width="100%" class=" rowcolor" colspan="2">
						<table width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td id='${layerList.layers.alias}' width="100%" class="layerTR">
								<table width="100%">
									<tr>
										<td width="40%" class="leftshift">
                                         
										 ${layerList.layers.alias}
											
										</td>
										
										<td align="center" class="layer-td">
											<img  class="layer_info" id='${layerList.layers.alias}_editable'src=""> </img>&nbsp;
											<img  class="layer_info" id='${layerList.layers.alias}_selectable'src=""> </img>&nbsp;
											<img  class="layer_info" id='${layerList.layers.alias}_queryable'src=""> </img>&nbsp;
											<img  class="layer_info" id='${layerList.layers.alias}_exportable'src=""> </img>
										</td>
										<td>
											 <div id="SliderSingle__${layerList.layers.alias}"  title="${layerList.layers.alias}" class="slider-c"></div>
										</td>
										
									</tr>
								</table>
							</td>
							
							<td id='chk-${layerList.layers.alias}'align="center" class="layer-td layerTR">	
										<input type="checkbox" id="Visibility__${layerList.layers.alias}" name="Visibility" class="${layergroupList.layergroupBean.name}"
										value="${layerList.alias}" checked onClick="manageLayer(this);" /> 
							</td>
						</tr>
						</table>	
						</td>	
						</tr>
						
							
						<tr>
						<!-- <td class="leftshift rowcolor_two" colspan="2">	
							<img  id='${layerList.alias}_legend'src=""> </img>
						</tr> -->						
			{{/if}} 	
			{{/if}} 	
			{{/each}}
			
			


		</tbody>	
		{{/each}} 
		
		
			
 
 </script>

 
</div>

