<div id="lineStyle" class="blueSwitch styleForm">       
            
           <!--start:form-->
           		<div class="cell_width_textstyle">
                	<table width="100%" cellpadding="1" cellspacing="1">
                    		
                            	<!--start:heading-->
                                <tr>
                                	<td colspan="3" class="form_subhead" id="lbl_linemarkup_stroke">
                                    	Stroke
                                    </td>
                                 </tr>
                                <!--end:heading-->                                
                                
                               
                                
                                <!--start:stroke color-->
                                <tr>
                                	<td colspan="3" class="weightfont" id="lbl_linemarkup_strokecolor">
                                    	Stroke Color
                                     </td>
                                </tr>
                                <tr>
                                	<td colspan="3">
                                    	<input id="stroke_color_line" type="text" class="value_one"/>
                                    </td>
                                </tr>                                
                                <!--end:stroke color-->
                                
                            	<tr><td class="spacer" ></td></tr>
                                
                                
                            	<!--start:option-->
                            	<tr>
                                	<td width="45%" align="left" class="weightfont" id="lbl_linemarkup_strokeopacity">
                                    	 Stroke Opacity
                                    </td>
                                    <td width="10%">&nbsp;</td>
                                   <td width="45%" align="left" class="weightfont" id="lbl_linemarkup_strokewidth">
                                    	 Stroke Width                                    
                                    </td>
                                </tr>
                                <tr>
                                	<!--start:Stroke Opacity-->
                                	<td  align="left">
                                    	 <input id="stroke_opacity_line" type="text" class="value_one"/>
                                    </td>
                                    <!--end:Stroke Opacity-->
                                    <td >&nbsp;</td>
                                    <!--start:Stroke Width -->
                                   <td  align="left">
                                    	 <input id="stroke_width_line" type="text" class="value_one"/>                                   
                                    </td>
                                    <!--end:Stroke Width -->
                                </tr>
                                <!--end:option-->
                                
                                <tr><td class="spacer" ></td></tr>
                                
                                <!--start:option-->
                                <tr>
                                	<td  align="left" class="weightfont" id="lbl_linemarkup_strokelinecap">
                                    	 Stroke Linecap
                                    </td>
                                    <td >&nbsp;</td>
                                   <td  align="left" class="weightfont" id="lbl_linemarkup_strokestyle">
                                    	 Stroke Dashstyle                           
                                    </td>
                                </tr>
                                 <tr>
                                    <!--start:Stroke Linecap -->
                                	<td  align="left">
                                    	  <select id="stroke_linecap_line" class="value_one_linemp slt_one">
                                            <!--<option value="butt">butt </option>
                                            <option value="round">round </option>
                                            <option value="square">square </option>-->
                                         </select>
                                    </td>
                                    <!--end:Stroke Linecap -->
                                   <td >&nbsp;</td>
                                   <!--start:Stroke Dashstyle -->
                                   <td  align="left">
                                    	 <select id="stroke_dashstyle_line" class="value_one_linemp slt_one">
                                            <option value="dot">dot </option>
                                            <option value="dash">dash </option>
                                            <option value="dashdot">dashdot </option>
                                            <option value="longdash">longdash </option>
                                            <option value="longdashdot">longdashdot </option>
                                            <option value="solid">solid </option>
                            	 		</select>                                 
                                    </td>
                                    <!--end:Stroke Dashstyle -->
                                </tr>
                                <!--end:option-->
                                
                                
                            </table>	  
                            <div class="cellclear"></div>                        
                        </div>     
                <!--end:options-->
           <!--end:form-->
</div>
            
						

