<div id="markupdiv" class="dialog-v">
	<div id="markupTmpl" class="lab-int">
		<div id="span-close" class="span-c" title="Close"  onclick="javascript:closeDialog('markupdiv');"></div>
		<div id="markup-help" class="span-h" title="Help for Markup" onclick="javascript:openHelpWindow('markup_help');" ></div>
	   	<div class="lineBreak05p"></div>
	    <div class="formPattern">
		<div id="markupButtons" class="fg-buttonset fg-buttonset-single">
        	<!-- 
        	<div id="options-s-d" class="search-options-b gaplinemp">					
					<table width="100%" cellpadding="1" cellspacing="1">						
						<tr>
                        	<td>
                            	<input type="radio" id="" name="check" checked /> Private
                            </td>
                            <td>
                            	<input type="radio" id=""  name="check" /> Public 
                            </td>
                           <tr>				
					</table>			
				</div>
			 -->
			<table width="100%" cellspacing="1" cellpadding="1" align="left" class="blueSwitch">            	
				<tr>
					<td>
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="newmarkup" title="New" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/markup/new.png">
						</button>
					</td>					
					<td>
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="save" title="Save" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar15.png">
						</button>
					</td>
					
					<td>
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="deletemarkup" title="Delete" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar13.png">
						</button>
					</td>
					<td colspan="2">
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="deleteall" title="DeleteAll" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar14.png">
						</button>
					</td>
				
					<td>
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right ui-state-active1" 
						id="point" title="Point" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar08.png">
						</button>
					</td>
					<td >
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="line" title="Line" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar07.png">
						</button>
					</td>
					<td >
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="polygon" title="Polygon" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar09.png">
						</button>
					</td>
					<td >
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="circle" title="Circle" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar06.png">
						</button>
					</td>
					<td >
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="rectangle" title="Rectangle" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar10.png">
						</button>
					</td>
					<td >
						<button class="fg-button ui-state-default1 ui-priority-primary1 ui-corner-left ui-corner-right" 
						id="text" title="Text" aria-describedby="ui-tooltip-11">
							<img src="resources/images/viewer/symbols/markers/mar05.png">
						</button>
					</td>
				</tr>
			</table>
			<!--
			<table width="100%" cellspacing="1" cellpadding="1">
				<tr>
					<td><input id="polygon" class="btn-m" type="submit" value="Polygon" /></td>
					<td><input id="direction" class="btn-m" type="submit" value="Direction" /> </td>
					<td><input id="deleteMarkup" class="btn-m" type="submit" value="Delete Markup" /></td>
					<td><input id="saveMarkup" class="btn-m" type="submit" value="Save Markup" /></td>
				
				</tr>
			</table>
			
			-->
			
			
			
			
			
			
			
			
			
			
		</div>	
		<div class="lineBreak05p"></div>
		
		<div id="markupContentBody"></div>
	</div>
	</div>

</div>


