<div id="pointStyle" class="styleForm">       
           
    
      	<!--start:form-->
        	<!--start:heading-->
            <div class="form_subhead" id="lbl_markup_fill">
        		Fill
        	</div>            
            <!--end:heading-->
            
            <!--start:options-->
            <div class="blueSwitch" >
            
            	 <!--start:suboptions-->
            	<div class="celladjust_one" id="lbl_markup_fillcolor">
            		Fill Color
            	</div>
                <div class="subcelladjust">
            		<input id="fill_color_point" type="text" class="value_one"/>
             	</div>
                <!--end:suboptions-->
                
                <!--start:suboptions-->
                <div class="celladjust_two">
                	<!--start:left-->
                    <div class="celladjust_one_left">
                        <div id="lbl_markup_fillopacity">
                            	Fill Opacity
                        </div>
                        <div class="subcelladjust_inner">
                            	<input id="fill_Opacity_point" type="text" style="width: 100px"/>
                        </div>
                	</div>
                    <!--end:left-->
                    
                    <!--start:right-->
                     <div class="celladjust_one_right">
                        <div id="lbl_markup_pointradius">
                            	Point Radius
                        </div>
                        <div class="subcelladjust_inner">
                            	<input id="point_radius_point" type="text" style="width:100px"/>
                         </div>                    
                	</div>
                    <!--end:right-->
                
                
                </div>                
                <!--end:suboptions-->
                
            
            </div>
            <!--end:options-->
            <div class="cellclear"></div>
            
            <!--start:heading-->
            <div class="form_subhead" id="lbl_markup_stroke">
        		Stroke
        	</div>            
            <!--end:heading-->
            
            <!--start:options-->
            <div class="blueSwitch">
            
            	 <!--start:suboptions-->
            	<div class="celladjust_one" id="lbl_markup_strokecolor">
            		Stroke Color
            	</div>
                <div class="subcelladjust">
            		<input id="stroke_color_point" type="text" class="value_one"/>
             	</div>
                <!--end:suboptions-->
                
                <!--start:suboptions-->
                <div class="celladjust_two">
                
                	<!--start:left-->
                    <div class="celladjust_one_left">
                        <div id="lbl_markup_strokeopacity">
                            	Stroke Opacity
                        </div>
                        <div class="subcelladjust_inner">
                            	<input id="stroke_opacity_point" type="text" style="width: 100px"/>      
                        </div>
                	</div>
                    <!--end:left-->
                    
                    <!--start:right-->
                     <div class="celladjust_one_right">
                        <div id="lbl_markup_strokewidth">
                            	Stroke Width  
                        </div>
                        <div class="subcelladjust_inner">
                            	<input id="stroke_width_point" type="text" style="width: 100px"/>
                         </div>                    
                	</div>
                    <!--end:right-->
                    <div class="cellclear"></div>
                </div>                
                <!--end:suboptions-->
                 <!--start:suboptions-->
            	<div class="celladjust_one" id="lbl_markup_strokelinecap">
            		Stroke Linecap
            	</div>
                <div class="subcelladjust">
            		<select id="stroke_linecap_point" class="value_pointmp">                                    
                    	<!--<option value="square">square </option>
                        <option value="star">star </option>
                        <option value="x">x </option>
                        <option value="cross">cross </option>
                        <option value="triangle">triangle </option>-->                                   
                    </select>
             	</div>
                <!--end:suboptions-->
                
                
            
            </div>
            <!--end:options-->
            
           
  
    
           
</div>
 	

