<div class="PrintWrapperLandScape" id="printdiv">
  <div class="personalDetails no-border">  
   
    <table class="amendbeforeAfterTable space-top-10" style="width: 100%; margin-bottom: 10px;" >
      <tr>
        
	<td ><h4 id="map_printTitle" style="text-align:center;height:30px; padding:15px 0; font-size: 22px;">
	</h4>
	</td>
        </tr>

    </table>
	
	<div> <img id="mapImageId1" style="max-width:100%"/></div>
	
	<table class="amendbeforeAfterTable space-top-10" id="layermanagerBody_print" style="width:100%; " >
    </table>

    </div>
	 <div class="buttons btn-holder-float">
	
	<span class="lesserbtn">
		<input  class="btn1 margin-ten" id="btnPrintDC" type="button" value="Print" onclick="javascript:print_Map();" /> 
		</span>
	</div>
	 
</div>



<script id="layermanagerTemplate_Print" type="text/x-jquery-tmpl">
      {{each(i,layergroupList) $item.projectLayergroup}}  
		<tbody>
			
			<tr>
				<th id="${layergroupList.layergroupBean.name}" class="rowhead" > ${layergroupList.layergroupBean.alias}
				</th>
				<th>
				</th>
				
			</tr>
		
         
		 {{each(j,layerList) layergroupList.layergroupBean.layerLayergroups}}	
		 {{if (layerList.layers)}} 	
						{{if (layerList.layers.displayinlayermanager)}} 	
						<tr>
						<td id='${layerList.layers.alias}' width="100%" class="layerTR">
								<table width="100%" style="border: none;">
									<tr>
										<td width="40%" class="leftshift">
                                         
										 ${layerList.layers.alias}
											
										</td>
										
										<td align="center" class="layer-td">
											<img  class="layer_info" id='${layerList.layers.alias}_editablePrint'src=""> </img>&nbsp;
											<img  class="layer_info" id='${layerList.layers.alias}_selectablePrint'src=""> </img>&nbsp;
											<img  class="layer_info" id='${layerList.layers.alias}_queryablePrint'src=""> </img>&nbsp;
											<img  class="layer_info" id='${layerList.layers.alias}_exportablePrint'src=""> </img>
										</td>
										
									</tr>
								</table>
							</td>
							
							<td id='chk-${layerList.layers.alias}'align="center" class="layer-td layerTR">	
										<input type="checkbox" id="VisibilityPrint__${layerList.layers.alias}"  name="Visibility" class="${layergroupList.layergroupBean.name}"
										value="${layerList.layers.alias}" /> 
							</td>
						
						</tr>
						
							
								
			{{/if}} 	
			{{/if}} 	
			{{/each}}
			
			


		</tbody>	
		{{/each}} 
		
		
			
 
 </script>