<div id="printdiv" class="dialog-v">
    <form id="printForm" method="post" action="print/" target="_blank">
	<div id="printTmpl" class="lab-int">
		<div id="span-close" class="span-c" title="Close" onclick="javascript:closeDialog('printdiv');"></div>
		<div id="print-help" class="span-h" title="Help for Print"  onclick="javascript:openHelpWindow('print_help');"></div>
		<div class="lineBreak05p"></div>
		
		<div class="formPattern">
			<input type="hidden" id="hid-layerUrl" name="hid-layerUrl" value="">
			<input type="hidden" id="hid-legendUrl" name="hid-legendUrl" value="">
			<input type="hidden" id="hid-bbox" name="hid-bbox" value="">
			<input type="hidden" id="wmc" name="wmc" value="">
			<input type="hidden" id="hid-compiledBy" name="hid-compiledBy" value="">
			
			<input type="hidden" id="mapScale" name="mapScale" value="">
			<input type="hidden" id="templateType" name="templateType" value="print-tmpl-landscape">
			<input type="hidden" id="access_land_sld_file" name="access_land_sld_file" value="">
			<input type="hidden" id="cosmetic_sld_file" name="cosmetic_sld_file" value="">
			<input type="hidden" id="project_name" name="project_name" value="">
			<dl class="styleForm">
				
				<dd style="display:none"><label for="Template">Template</label></dd>
				
				<dd style="display:none">
					<select id="_templateType" name="_templateType" class="slt">					
					<!--option value="print-tmpl-potrait">Landcape (8inx 11in)</option-->									       
					</select>
					
				</dd>
				
				<dd><label for="tit" id="map_title">Map Title</label></dd>
				<dd><input type ="text" value = "" class="int" id ="title" name="title"/></dd>	
				
			</dl>
			
			</div>
            
</div>
<br/>
<div class="buttons btn-holder-float">
	
	<span class="lesserbtn">
		<input id="btnPrint" type="button" value="Print" onclick="javascript:printChoice();" /> 
		</span>
	</div>
</form>	
</div>
