<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Query Builder</title>

</head>

<body>
   <!--<div id="saveQry" title="Save Query">
        <form class="cmxform" id="frmSaveQry" action="" onsubmit="return false;">
        <table id="saveQryGrid" class="tblDlgGrid">
            <tr>
                <td>
                    Query Name
                </td>
                <td>
                    <input type = "text" value = "" id = "qryName"/>
                    <img src="resources/images/viewer/layouts/search_button.png"  onclick="javascript:queryNameExists($('#qryName').val());"/>
                </td>            
            </tr>
            <tr>
                 <td>
                    Query Description
                </td>
                <td>
                     <textarea spellcheck="false" name="querydesc" id = "querydesc" rows="3" class="querybox" ></textarea>
                </td>   
            </tr>
        </table>
        <div align="center">
            <input id="Name" type="hidden" name="Name" />
            <input id="WhereExpression" type="hidden" name="WhereExpression" />
            <input id="Description" type="hidden" name="Description" value="" />
            <input id="Layer" type="hidden" name="Layer" value="" />
            <input id="Project" type="hidden" name="Project" value="" />
            <input id="btnSearch" class="submit" type="submit" value="Save" onclick="javascript:Save();" />
            <input id="btnClose" class="submit" type="button" value="Close" onclick="javascript:hideDialog();" />
        </div>    
        </form>
        
    </div>--> 
</body>
</html>
