<div id="textStyle" class="blueSwitch styleForm">  

	<!--start:form-->
    	<div class="cell_width_textstyle">
        	<table width="100%" cellpadding="1" cellspacing="1">
            	<!--start:Font-->
                	<tr>
                    	<td colspan="3" class="weightfont" id="lbl_textmarkup_font">
                        	Font
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                        	<select id="text_font_names" class="value_pointmp"></select>
                        </td>
                    </tr>                                
                <!--end:Font-->
                <tr><td class="spacer" ></td></tr>
                <!--start:option-->
                 	<tr>
                    	<td width="45%" align="left" class="weightfont" id="lbl_textmarkup_fontstyle">
                        	Font-style
                        </td>
                        <td width="10%">&nbsp;</td>
                        <td width="45%" align="left" class="weightfont" id="lbl_textmarkup_fontweight">
                        	Font-weight                                    
                        </td>
                    </tr>
                    <tr>
                    	<!--start:Font-style-->
                         	<td  align="left">
                            	<select id="text_font_style" class="value_pointmp">                                   
                                   <option value="Normal">Normal </option>
                                   <option value="Italic">Italic </option>
	  							</select>
                            </td>
                        <!--end:Font-style-->
                        <td >&nbsp;</td>
                        <!--start:Font-weight -->
                        	<td  align="left">
                            	<select id="text_font_weight" class="value_pointmp">
                                   <option value="Normal">Normal </option>
                                   <option value="Bold">Bold </option>
                               </select>                                  
                            </td>
                        <!--end:Font-weight -->
                    </tr>
                 <!--end:option-->
                 <tr><td class="spacer" ></td></tr>
                 <!--start:option-->
                 	<tr>
                    	<td width="45%" align="left" class="weightfont" id="lbl_textmarkup_color">
                        	Color
                        </td>
                        <td width="10%">&nbsp;</td>
                        <td width="45%" align="left" class="weightfont" id="lbl_textmarkup_size">
                        	Size                                    
                        </td>
                    </tr>
                    <tr>
                    	<!--start:Color-->
                         	<td  align="left">
                            	<input id="text_font_color" value="#000000" type="text" class="value_one" />
                            </td>
                        <!--end:Color-->
                        <td >&nbsp;</td>
                        <!--start:Size -->
                        	<td  align="left">
                            	<input id="text_font_size" "10" type="text" class="value_one" />                                 
                            </td>
                        <!--end:Size -->
                    </tr>
                 <!--end:option-->
                 
            </table>        
        </div>    
    <!--end:form-->
    
</div>