@font-face {
    font-family: 'titilliumregular';
    src: url('fonts/titillium-regular-webfont.woff2') format('woff2'), url('fonts/titillium-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html,body{font: normal 14px 'titilliumregular', sans-serif!important;}



.header-top
{

    margin: 0;
    min-height: 90px;
    padding: 0;
    width: 100%;
    background:#362d59;
    border-bottom:2px solid #00b7bd;
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
	 
}
#usaid_logo {
width: 128px;
background: url(../images/usaid_logo_300.png) no-repeat;
height: 51px;
float: left;
margin-top: 20px;
margin-left: 15px;
display: inline-block;
position: absolute;
left: 15px;
}


.header_title {
 
font-size: 22px;
padding-top: 15px;
margin-left: 15px;

color: #fff;
text-align: center;
}

.userinfo
{
background-image: url(../images/userInfo.png);
position:absolute;
right:0px;
top:0px;
height:90px;
background-repeat:no-repeat;
padding:0.1em 0 0 2.5em;
color: #fff;
}
.userinfo ul {
list-style:none;
margin:0;
padding:0;
}
.userinfo ul li{


  font-size: 16px;
  color: #000;
  margin: 10px;
  border-bottom: 1px solid #000;
}
.userinfo ul li a{ text-decoration: none; color: #000;}

.userinfo ul li:last-child {
  border: none;
}
.userinfo ul li span{
  color: #393939;
  padding: 0 6px;
}
.userinfo ul li a{
  color: #000;
  padding: 0 6px;
}
.userinfo ul li a:hover{
  color: #352d59;
  

}

.username {
  background: url(../images/user.png) no-repeat;
  margin-left: 20px!important;	
  padding-left: 24px;
}

.home-separator {
	background: url(../images/home-separator.png) no-repeat center;
}
.home{
  background: url(../images/home-icon.png) no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0 !important;
}

.logout{
  background: #352d59 url(../images/logout-icon.png) no-repeat 10px 5px;
  display: inline-block;
  padding: 0 10px 0 30px!important;
  line-height: 24px;
  color: #fff!important;
  border-radius: 3px;
  font-size: 14px;

}

.homeDiv, .languageDiv, .logoutDiv {
    float: left;
}

.homeDiv{
    width: 45px;
}

.languageDiv {
    min-width: 90px;
    margin-top: 2px;
}

.logoutDiv {
    min-width: 110px;
}
