* {
  font-family: "Gill Sans MT", "Gill Sans";
  font-size: 12pt;
}

body {
  padding: 0px;
  margin: 0px;
}

.header_bluebar_top {
  width: 100%;
  background: url(../images/bluebar.png);
  height: 27px;
  clear: both;
}

.header_bluebar_bottom {
  width: 100%;
  background: url(../images/bluebar_thin.png);
  height: 17px;
  clear: both;
}

.header_wrapper {
  width: 950px;
  height: 116px;
  clear: both;
}

#usaid_logo {
  width: 300px;
  background: url(../images/usaid_logo_300.png);
  height: 116px;
  float: left;
}

.header_title {
  width: 600px;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 28px;
  margin-left: 15px;
  float: left;
}

.header_menu_option {
  color: #FFF;
  font-size: 14pt;
}

#menu_option_login {
  float: right;
  margin-top: 4px;
  margin-right: 33px;
}

#menu_option_login:hover {
  cursor: pointer;
}

.home_background {
  width: 100%;
  height: 611px;
  background: url(../images/homebg.png);
	background-size: 100% auto;
  min-width: 1100px;
  margin-top: 0px;
  repeat: no-repeat;
  clear: both;
}

.homebox_title {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.homebox {
  width: 350px;
  border: 2px solid #999;
  background: #e9f7f0;
  padding: 10px;
  margin: 40px 0px 0px 0px;
  box-shadow: 10px 10px 5px #888888;
  float: left;
}

.homebox p {
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#homebox_whatismast {
  width: 390px;
  margin-left: 50px;
}

#homebox_projects {
  float: right;
  margin-right: 33px;
  margin-left: 200px;
}

#ccg_logo {
  width: 221px;
  height: 24px;
  background: url(../images/ccg_logo.png);
  margin-right: 33px;
  margin-top: 5px;
  float: right;
}

#rmsi_logo {
  width: 77px;
  height: 24px;
  background: url(../images/RMSI_logo.png);
  margin-right: 15px;
  margin-top: 5px;
  float: right;
}

#android_logo {
  width: 220px;
  height: 80px;
  background: url(../images/android.png);
  margin-right: 33px;
  margin-top: 40px;
  float: right;
}

#brochure_button {
  width: 220px;
  height: 114px;
  background: url(../images/brochure.png);
  margin-left: 50px;
  margin-top: 15px;
  float: left;
}

#ccg_logo:hover, #rmsi_logo:hover, #usaid_logo:hover, #android_logo:hover, #brochure_button:hover {
  cursor: pointer;
}

#copyright {
  font-size: 8pt;
  color: #999;
  float: left;
  margin-top: 5px;
  margin-left: 50px;
}
